Уставдын негизинде иш алып барган, мындан ары “Уюм” деп аталган, жоопкерчилиги чектелүү “Хаои” коомунун генералдык директору Малабашова Айшакан Шаршеевна бир жагынан, жана мындан ары “Бай Эл.kg” программасынын “Ыктыярдуу” (келишим боюнча) катышуучусу (мындан ары – Катышуучу) (мындан ары “Тараптар” деп аталат) менен биргеликте, мындан ары “Келишим” деп аталчу төмөнкүлөр жөнүндө ушул келишимди түзүштү:
<br>
<br>
1. КЕЛИШИМДИН ПРЕДМЕТИ <br>
1.1 Ушул Келишимге ылайык, Катышуучу “Бай Эл.kg” программасына (өзүнүн макулдугу менен
бири-бирине жардамдашуу жөнүндөгү социалдык программа) (мындан ары - Программа) өз ыктыяры менен катышат, анын алкагында Уюмдун тапшырмасы боюнча ушул келишимде жана ушул Программада каралган шарттарды жана тартиптерди кыйшаюусуз аткарууга милдеттенет.
<br>
<br>
2. ТАРАПТАРДЫН МИЛДЕТТЕНМЕЛЕРИ<br>
2.1. Катышуучунун милдеттери:<br>
2.1.2. Катышуучу Программага кирген Программанын аталган продукциясын алууга милдеттүү.<br>
2.1.3. Катышуучу белгиленген тартип боюнча ушул Программага жаңы катышуучуларды тартууга милдеттенет.<br>
2.1.4. Катышуучунун милдеттери: Уюмдун мүлкүнө аяр мамиле жасоо; жумуштагы тартипти жана ички эрежелерди сактоо; Программага катышуудан кийин жеткен маалыматтарды өзүнүн жеке кызыкчылыгына пайдаланбоо; Программага катышуунун алкагында жардам берип жаткан жарандар жөнүндө жашыруун мааалыматтарды таратпоо;
<br>
2.1.5. Программанын катышуучуларына зыян алып келген, алардын ар-намысына тийген иш-чараларды жасабоо.<br>
2.2. Уюмдун милдеттери:<br>
2.2.1. Уюмдун милдеттери: Катышуучуну имарат, жабдуулар жана анын милдеттерине жараша логин жана сыр сөз (пароль) менен камсыздоо; Катышуучуну анын кызыгуусуна жараша Уюм өткөргөн иш-чараларга (тренингдер, акциялар, кайрымдуулук иштери ж.б.) катыштыруу; ушул келишимдин 2.1. пунктуна ылайык, ыктыярчыдан талап кылынган документтер менен Катышуучунун өтүнүчү боюнча тааныштыруу.
<br>
<br>
3. ТАРАПТАРДЫН УКУКТАРЫ<br>
3.1. Катышуучунун укуктары:<br>
Катышуучу билүүгө түздөн-түз милдеттүү болгон өзүнүн тармагы боюнча квалификациясын жогорулатуу боюнча семинарларга катышуу; Программанын ички иш-чараларга катышуу; Уюмдун ишинин жүрүшүндө пайда болгон маселелер боюнча анын кызматкерлеринен консультация алуу; Программанын ишмердүүлүгүн жакшыртуу жана өркүндөтүү боюнча сунуштарды киргизүү.
<br>

3.2. Уюмдун укуктары:<br>
Катышуучунун ишмердүүлүгүн текшерүү; “Ыктыярдуу кызматташтык жөнүндө келишимди”, Программанын эрежелерин жана инструкцияларды бузган Катышуучуну ишинен бир тараптуу негизде четтетүү.
<br>
<br>
4. ТАРАПТАРДЫН ЖООПКЕРЧИЛИКТЕРИ<br>

4.1. Тараптар Кыргыз Республикасынын мыйзамдарына ылайык, жоопкерчиликти тартышат.<br>
<br>
5. КЕЛИШИМДИ БУЗУУ<br>

5.1. Катышуучу Программанын алдында өзүнүн милдеттерин аткарбаган учурда, Уюм менен Катышуучунун ортосундагы келишим үзүлөт, келишимди бузулушуна болжолдуу шарттар түзүлгөнгө чейин 60 календардык күндөн кеч эмес убакытта Катышуучуга келишимдин бузулгандыгы тууралуу кат жөнөтүлөт. Мындай учурда почта аркылуу Катышуучуга кат жөнөтүлгөн мезгилден тарта, көрсөтүлгөн мөөнөтү аяктаганда, ушул Келишим бузулду деп табылат. Келишим бузулганда, продукцияга кеткен акча каражаттары кайтарылбайт.<br>
5.2. Келишим төмөнкү шарттарда каалаган учурда токтотулат же бузулат: продукцияга салган акча каражаттары кайтарылбасы жөнүндө маалымдалгандан кийин 30 күндүн ичинде Уюмдун (Координатордун) оозеки же жазуу түрүндөгү эскертүүсү менен Катышуучунун демилгеси боюнча;<br>
5.3.  Ушул келишимге кол коюлгандан жана  кат жүзүндө Программага киргенден баштап, 15 календардык күндүн ичинде Катышуучунун демилгеси боюнча бир тараптуу токтотулат же бузулат.<br>
5.4. Ушул келишимди аткаруу боюнча талаш-тартыштар, пикир келишпестиктер жана ошондой эле башка       маселелер пайда болгон учурда, тараптар сот органдарына кайрылууга укуктуу.<br>
5.5. Ушул келишимдин катышуучу тараптары белгиленген реквизиттерди тастыкташат, өзгөрүүлөр киргизилген учурларда жазуу/оозеки түрүндө экинчи Тарапка ал өзгөрүүлөр жөнүндө кабарлашат.<br>
<br>
6. ФОРС МАЖОР<br>

6.1. Эгерде форс-мажор (башкарууга күч-кубат жетпеген чукул кырдаалдар) учурлар пайда болсо, ушул Келишим боюнча өздөрүнүн милдеттерин аткарбаган тараптар өз милдеттеринен толугу менен же кээ бир милдеттеринен бошотулат.<br>
