{% extends 'main_base.html' %}
{% load static i18n %}
{% block content %}
    <!-- Contact & Map starts -->
    <section id="contact" class="pb-0 mt-lg-5">
        <div class="container mt-lg-5">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="400ms" style="margin-top: 8vh;">
                    <div>
                        <div class="text-left sm-text-center w-100 ">
                            <h5 class="color-black font-weight-500 mb-2rem "> {% blocktrans %}Сиз катталууну ийгиликтүү
                                өттүңүз, "Бай Эл" программасынын статусун тастыктоо үчүн төмөнкү дарекке
                                келиңиз{% endblocktrans %}</h5>
                        </div>
                        <div class="contact-info sm-text-center">
                            <a href="{% url 'login' %}" class="btn btn-outline-primary">{% trans 'Кирүү' %}</a>
                            <a href="{% url 'signup' %}" class="btn btn-outline-success">{% trans 'Катталуу' %}</a>
                            <div class="icon-box">
                                <i class="ti ti-mobile color-pink"></i>
                                <p class="color-grey"> +996 (774) 555 678</p>
                            </div>
                            <div class="icon-box">
                                <i class="ti ti-email color-pink"></i>
                                <p><a href="mailto:email@website.com" class="color-grey">info@bayel.kg</a></p>
                            </div>
                            <div class="icon-box">
                                <i class="ti ti-location-pin color-pink"></i>
                                <p class="color-grey"> {% blocktrans %}г. Бишкек, ул. Юсупа Абдрахманова
                                    175а{% endblocktrans %}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 mb-5 col-map wow fadeInUp" data-wow-delay="400ms">
                    <div id="map" style="width:600px; height:400px"></div>
                </div>
            </div>

        </div>
    </section>
    <!-- Contact & Map ends -->
{% endblock %}