{% extends 'main_base.html' %}
{% load i18n %}
{% block content %}
    <div class="container">
        <!-- Features start -->
        <section id="features" class="mt-lg-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="main-title main2-signup wow fadeIn" data-wow-delay="300ms">
                            <h5> {% trans 'Бай Эл программасы' %} </h5>
                            <h2> {% trans 'Кирүү' %} </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <form id="login-form" method="post"
                              action="">
                            {% csrf_token %}
                            <table class="table">
                                <tr>
                                    <td><label for="id_username">{% trans 'Логин' %}</label></td>
                                    <td><input id="id_username" name="username"
                                               type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td><label for="id_password">{% trans 'Сыр сөз' %}</label></td>
                                    <td><input id="id_password" name="password"
                                               type="password" class="form-control"></td>
                                </tr>
                            </table>
                            {% if form.errors %}
                                <p class=" label label-danger">
                                    {% blocktrans %}Сиздин аты-жөнүнүз же сыр сөзүнүз келигишпей жатат. Кайрадан кайталап көрүнүз  {% endblocktrans %}
                                </p>
                            {% endif %}

                            <button type="submit" class="btn btn-outline-secondary">{% trans 'Кирүү' %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Features ends -->
{% endblock %}