{% extends 'manager_base.html' %}
{% load static i18n l10n %}
{% block content %}
    <div class="container">
        <div class="wrapper mt-20">

            <!-- Page -->
            <form action="" method="post" novalidate="novalidate" class="signup-form">
                <div class="row">
                    {% csrf_token %}
                    <div class="col-md-6">
                        <p><label for="id_username">Логин:</label>
                            {{ form.username }}</p>
                        <p><label for="id_user_fullname">Аты Жөнү:</label>
                            {{ form.user_fullname }}</p>
                        <p><label for="id_user_phone">Телефон:</label>
                            {{ form.user_phone }}</p>
                        <p><label for="id_is_cashier">Кассир:</label>
                            {{ form.is_cashier }}
                            <label for="id_is_staff" class="ml-20">Staff status:</label>
                            {{ form.is_staff }}</p>
                    </div>
                    <div class="col-md-6">
                        <p><label for="id_user_office">Регион:</label>
                            {{ form.user_office }}</p>
                        <p><label for="id_password1">Сыр сөз:</label>
                            {{ form.password1 }}</p>
                        <p><label for="id_password2">Сыр сөздү кайталаңыз:</label>
                            {{ form.password2 }}</p>
                    </div>
                    <div class="btn-signup">
                        <button type="submit" class="btn btn-outline-success signup-btn">Катталуу</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock content %}