{% extends 'main_base.html' %}
{% load i18n %}
{% block content %}
    <div class="container">
        <!-- Features start -->
        <section id="features" class="mt-lg-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="main-title wow fadeIn" data-wow-delay="300ms">
                            <h5> {% trans 'Бай Эл программасы' %} </h5>
                            <h2></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h2>{% blocktrans %}Сиздин сыр сөзүнүз өзгөрүлдү{% endblocktrans %}</h2>
                    <p><a href="{% url 'login' %}" class="btn btn-outline-primary">{% trans 'Кирүү' %}</a></p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Features ends -->
{% endblock %}