{% extends 'main_base.html' %}
{% load i18n %}
{% block content %}
    <div class="container">
        <!-- Features start -->
        <section id="features" class="mt-lg-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="main-title wow fadeIn" data-wow-delay="300ms">
                            <h5> {% trans 'Бай Эл программасы' %} </h5>
                            <h2> {% trans 'Сыр сөздү өзгөртүү' %} </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <form action="" method="post" class="signup-form">
                            {% csrf_token %}
                            <label for="id_old_password">{% trans 'Эски сыр сөз' %}:</label>
                            {{ form.old_password }}<br>
                            <label for="id_new_password1">{% trans 'Жаңы сыр сөз' %}:</label>
                            {{ form.new_password1 }}
                            <ul>
                                <li>{% blocktrans %}Сиздин сыр сөзүнүз атынызга окшош болбошу керек{% endblocktrans %}</li>
                                <li>{% blocktrans %}Сиздин сыр сөзүнүз 8 символдон көп болуш керек{% endblocktrans %}</li>
                                <li>{% blocktrans %}Сиздин сыр сөзүнүз жалпы cыр сөздөрдүн бири болушу мүмкүн эмес.{% endblocktrans %}</li>
                                <li>{% blocktrans %}Сиздин сырсөзүнүз сандардан гана турушу мүмкүн эмес.{% endblocktrans %}</li>
                            </ul>
                            <label for="id_new_password2">{% trans 'Жаңы сыр сөзду кайталап жазыңыз' %}:</label>
                            {{ form.new_password2 }}

                            <button type="submit" class="btn btn-outline-info btn-login">{% trans 'Өзгөртүү' %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Features ends -->
{% endblock %}