<!DOCTYPE html>
{% load static i18n %}
<html class="no-js css-menubar" lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="author" content="">

    <title>{% trans "Каттоо" %} | Бай Эл</title>
    <!-- Style CSS File -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Color Style CSS File -->
    <link rel="stylesheet" href="{% static 'css/orange.css' %}">
    <!-- Custom Style CSS File -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="apple-touch-icon" href="{% static 'assets/images/apple-touch-icon.png' %}">
    <link rel="shortcut icon" href="{% static 'img/bayel-logo.png' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/flag-icon-css/flag-icon.css' %}">

    <!--Stylesheets -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-extend.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/select2/select2.css' %}">


    <!-- Fonts -->
    <link rel="stylesheet" href="{% static 'assets/fonts/web-icons/web-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/brand-icons/brand-icons.min.css' %}">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/bayel-logo.png' %}">
    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <!-- Animate CSS File -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- Cube Portfolio CSS File -->
    <link rel="stylesheet" href="{% static 'css/cubeportfolio.min.css' %}">
    <!-- Fancy Box CSS File -->
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/flag-icon-css/flag-icon.css' %}">
    <!-- Revolution Slider CSS Files -->
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
    <!-- Swiper CSS File -->
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <!-- Owl Carousel CSS Files -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <!-- Slick CSS Files -->
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
    <!-- Style CSS File -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Color Style CSS File -->
    <link rel="stylesheet" href="{% static 'css/orange.css' %}">
    <!-- Custom Style CSS File -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {#    media css #}
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/select2/select2.css' %}">
    {#    2gis map #}
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
    <script>
        Breakpoints();
    </script>
</head>
<body class="animsition page-register layout-full page-dark">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<header class="header-with-topbar">
    <div class="top-header-area d-xs-none bg-pink">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-am-12 d-xs-none" aria-hidden="true">
                    <a href="javascript:void(0)" class="font-14 text-white" title="Call"><i
                            class="ti ti-mobile mr-2"></i>{% trans 'Иштөө тартиби' %} 24/7: +996 (774) 555 678</a>
                    <div class="bg-light-gray d-inline-block d-xs-none position-relative mr-2 ml-2"></div>
                    <a href="javascript:void(0)" class="font-14 text-white xs-width-100" title="Mail"><i
                            class="ti ti-envelope mr-2"></i>info@bayel.kg</a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 text-right w-265">
                    <div class="bar-social-icon">
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}">{% trans 'Чыгуу' %}</a> <a href="">|</a>
                            <a href="{% url 'user_detail' user.pk %}">{% trans 'Жеке кабинет' %}</a>
                        {% else %}
                            <a href="{% url 'login' %}">{% trans 'Кирүү' %}</a> <a href="">|</a>
                            <a href="{% url 'signup' %}">{% trans 'Катталуу' %}</a>
                        {% endif %}
                        <form action="{% url 'set_language' %}" method="post" class="lang-nav">
                            {% csrf_token %}
                            {% get_available_languages as languages %}
                            {% for lang_code, lang_name in languages %}
                                {% language lang_code %}
                                    <button type="submit"
                                            name="language"
                                            value="{{ lang_name }}">
                                        {% if lang_code == 'ru' %}
                                            <span class="flag-icon flag-icon-ru"></span>
                                        {% else %}
                                            <span class="flag-icon flag-icon-kg"></span>
                                        {% endif %}
                                    </button>
                                {% endlanguage %}
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .topnav {
            overflow: hidden;
            background-color: #333;
            position: relative;
        }

        .menu_bars {
            display: none !important;
        }

        #myLinks {
            display: none;
            width: 85vw;
            height: 100vh;
            color: #fff;
            background-color: #844adb;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#9647DB), to(#5E57EA));
            position: absolute;
            top: 0;
            left: 0;
        }

        /* Style navigation menu links */
        #myLinks a {
            color: white;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 24px;
            display: block;
            text-align: left;
            text-transform: uppercase;
        }


        @media screen and (max-width: 950px) {
            .container {
                padding: 0;
                width: 100vw !important;
                max-width: 100vw !important;
            }

            .navbar {
                padding: 0;
            }

            .logo {
                margin-left: 30px;
            }

            .menu_bars {
                display: block !important;
            }

            #myLinks {
                width: 50vw;
            }

            #myLinks a {
                padding: 5px 16px;
                font-weight: 600;
                font-size: 13px;
            }

            .menu__list {
                margin-top: 40px;
            }
        }

        .menu_bars {
            position: fixed;
            right: 3vw;
            top: 20px;

        }

        .active {
        {#background-color: #4CAF50;#} color: white;
        }

        .change-lang {
            display: flex;
            justify-content: left;
        }

        .white-shadow {
            color: #fff !important;
            font-weight: bold !important;
            text-shadow: 2px 2px rgba(0, 0, 0, 0.75);
        }

        .left-change {
            padding-right: 0 !important;
            margin-right: 0 !important;
        }

        .right-change {
            padding-left: 8px !important;
            margin-left: 0 !important;
        }

        .nav-mobile {
            padding: 14px 16px;
        }

        .close-menu {
            width: 50vw;
            height: 100vh;
            position: absolute;
            top: 0;
            right: -50vw;
            /* left: 0; */
            float: right;
            padding-left: 50vw;
            margin-left: 1000px;
        }
    </style>
    <nav class="navbar navbar-top-default navbar-expand-lg static-nav nav-style full-nav bg-white2 no-animation">
        <div class="container">
            <a class="logo" href="{% url 'home' %}">
                <img src="{% static 'img/bayel-logo.png' %}" alt="" style="width:100px;">
            </a>
            <div class="collapse d-none d-lg-block">
                <ul class="nav navbar-nav ml-auto menu__list">
                    <li class="nav-item menu__item"><a href="{% url 'home' %}#home"
                                                       class="nav-item nav-link menu__link">{% trans 'Башкы бет' %}</a>
                    </li>
                    <li class="nav-item menu__item"><a href="{% url 'home' %}#features"
                                                       class="nav-item scroll nav-link menu__link">{% trans 'Шарттар' %}</a>
                    </li>
                    <li class="nav-item menu__item"><a href="{% url 'home' %}#team"
                                                       class="nav-item scroll nav-link menu__link">{% trans 'Биз жөнүндө' %}</a>
                    </li>
                    <li class="nav-item menu__item"><a href="{% url 'home' %}#blog"
                                                       class="nav-item scroll nav-link menu__link">{% trans 'Жаңылыктар' %}</a>
                    </li>
                    <li class="nav-item menu__item"><a href="{% url 'home' %}#contact"
                                                       class="nav-item scroll nav-link menu__link">{% trans 'Дарегибиз' %}</a>
                    </li>
                </ul>

            </div>
            <a class="menu_bars d-inline-block menu-bars-setting" onclick="myFunction()">
                <span></span> <span></span> <span></span> </a>
            <div id="myLinks">
                <ul class="nav navbar-nav ml-auto menu__list">
                    <li class="nav-item menu__item change-lang">
                        <form action="{% url 'set_language' %}" method="post" class="lang-nav nav-mobile">
                            {% csrf_token %}
                            {% get_available_languages as languages %}
                            {% for lang_code, lang_name in languages %}
                                {% language lang_code %}
                                    <button type="submit"
                                            name="language"
                                            value="{{ lang_name }}" class="nav-link menu__link left-change"
                                            style="display: inline-block">
                                        {% if lang_code == 'ru' %}
                                            <span class="flag-icon flag-icon-ru"></span>
                                        {% else %}
                                            <span class="flag-icon flag-icon-kg"></span>
                                        {% endif %}
                                    </button>
                                {% endlanguage %}
                            {% endfor %}
                        </form>
                    </li>
                    <li>
                        <a href="{% url 'home' %}#home"
                           class="nav-link menu__link">{% trans 'Башкы бет' %}</a>
                    </li>
                    <li class="nav-item menu__item"><a href="{% url 'home' %}#features"
                                                       class="scroll nav-link menu__link">{% trans 'Шарттар' %}</a>
                    </li>
                    <li class="nav-item menu__item"><a href="{% url 'home' %}#team"
                                                       class="scroll nav-link menu__link">{% trans 'Биз жөнүндө' %}</a>
                    </li>
                    <li class="nav-item menu__item"><a href="{% url 'home' %}#blog"
                                                       class="scroll nav-link menu__link">{% trans 'Жаңылыктар' %}</a>
                    </li>
                    <li class="nav-item menu__item"><a href="#contact"
                                                       class="scroll nav-link menu__link">{% trans 'Дарегибиз' %}</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item menu__item"><a href="{% url 'logout' %}"
                                                           class="nav-link menu__link left-change">{% trans 'Чыгуу' %}</a>
                        </li>
                        <li class="nav-item menu__item"><a href="{% url 'user_detail' user.pk %}"
                                                           class="nav-link menu__link left-change">{% trans 'Жеке кабинет' %}</a>
                        </li>

                    {% else %}
                        <li class="nav-item menu__item"><a href="{% url 'login' %}"
                                                           class="nav-link menu__link left-change">{% trans 'Кирүү' %}</a>
                        </li>
                        <li class="nav-item menu__item"><a href="{% url 'signup' %}"
                                                           class="nav-link menu__link left-change">{% trans 'Катталуу' %}</a>
                        </li>
                    {% endif %}
                </ul>
                <div class="close-menu">

                </div>
            </div>


        </div>
    </nav>
</header>
<!-- Header end -->
<script>
    console.log("hello world");

    function myFunction() {
        let logo = document.querySelector(".logo");
        var x = document.getElementById("myLinks");
        let nav = document.querySelector(".navbar");
        if (x.style.display === "block") {
            logo.style.display = "block";
            x.style.display = "none";
            nav.style.background = "#fff"
        } else {
            logo.style.display = "none";
            x.style.display = "block";
            nav.style.background = "gray";
        }
    }

    let closeMenu = document.querySelector(".close-menu");

    let logo = document.querySelector(".logo");
    var x = document.getElementById("myLinks");
    let nav = document.querySelector(".navbar");
    closeMenu.addEventListener("click", function () {
        logo.style.display = "block";
        x.style.display = "none";
        nav.style.background = "#fff"
    })


    {#function showMe(box, picture) {#}
    {##}
    {#    var chboxs = document.getElementsByName("terms");#}
    {#    var vis = "none";#}
    {#    var blo = "block"#}
    {#    for (var i = 0; i < chboxs.length; i++) {#}
    {#        if (chboxs[i].checked) {#}
    {#            vis = "block";#}
    {#            blo = "none"#}
    {#            break;#}
    {#        }#}
    {#    }#}
    {#    document.getElementById(box).style.display = vis;#}
    {#    document.getElementById(picture).style.display = blo;#}
    {##}
    {# }#}
</script>
<!-- Header end -->
<!-- Features start -->
<section id="features" class="mt-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-title main2-signup wow fadeIn" data-wow-delay="300ms">
                    <h5> {% trans 'Бай Эл программасы' %} </h5>
                    <h2> {% trans 'Катталуу' %} </h2>
                </div>
            </div>
        </div>
        <div class="row signup-text-row">
            <div class="col-md-6">
                <form action="" method="post" novalidate="novalidate" class="signup-form">
                    {% csrf_token %}
                    {{form.as_p}}

                    <div class="btn-signup">
                        <button type="submit"
                                class="btn btn-outline-success signup-btn">{% trans 'Катталуу' %}</button>
                    </div>

                </form>
            </div>
            <div class="col-md-6 autoUpdate" id="autoUpdate">
                <div id="account-sign-in">
                    <h6>{% trans 'ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ ПРОГРАММЫ БАЙ ЭЛ' %}</h6>
                    <div class="articles-wrapper">
                        {% include 'registration/agreement_ru.html' %}
                    </div>
                </div><!-- /#account-block -->
            </div>
        </div>
    </div>
</section>

<!-- Core  -->
<script src="{% static 'assets/vendor/babel-external-helpers/babel-external-helpers.js' %}"></script>
<script src="{% static 'assets/vendor/jquery/jquery.js' %}"></script>

<!-- Scripts -->
<script src="{% static 'assets/js/Component.js' %}"></script>
<script src="{% static 'assets/js/Plugin.js' %}"></script>
<script src="{% static 'assets/js/Base.js' %}"></script>

<!-- Page -->
<script src="{% static 'assets/js/Site.js' %}"></script>
<script src="{% static 'assets/vendor/select2/select2.full.min.js' %}"></script>
<script src="{% static 'assets/examples/js/forms/advanced.js' %}"></script>


</body>
</html>