{% extends 'main_base.html' %}
{% load static i18n %}
{% block content %}
    <!-- Main Section start -->
    <div id="home" class="p-0">
        <h2 class="d-none">heading</h2>

        <!--Main Slider-->
        <section class="p-0 no-transition">
            <h2 class="d-none">heading</h2>
            <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
                <ul>
                    <li data-index="rs-3" data-transition="fade" data-slotamount="3" data-hideafterloop="0"
                        data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="500"
                        data-rotate="0" data-saveperformance="off" data-title=""
                        data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                        data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <div class="opacity-extra-medium bg-black position-relative z-index-1"></div>
                        <!-- main image -->
                        <img src="{% static 'images/lake7.jpg' %}" alt="" data-bgposition="center center"
                             data-bgfit="cover"
                             data-bgrepeat="no-repeat" data-bgparallax="1" class="rev-slidebg" data-no-retina>
                        <!-- layer nr. 1 -->
                        <div class="tp-caption  tp-resizeme color-white"
                             data-x="['right','right','right','right']" data-hoffset="['90','90','20','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-15','-15','-15','-15']"
                             data-fontsize="['44','44','35','30']"
                             data-lineheight="['44','44','35','30']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":600,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                             data-textAlign="['right','right','right','right']"
                             style="z-index: 8; white-space: nowrap; font-family:'Open Sans', sans-serif; font-weight: 100; font-size: 6vw !important;">
                            {% blocktrans %}<span class="font-weight-600">"Бай Эл"</span> менен
                                <br class="mobile-device"> Жакшылыкка бирге! {% endblocktrans %}
                        </div>
                        <!-- layer nr. 2 -->
                        <div class="tp-caption  tp-resizeme font-weight-100 color-white"
                             data-x="['right','right','right','right']" data-hoffset="['90','90','20','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['45','45','45','45']"
                             data-fontsize="['25','25','22','22']"
                             data-lineheight="['25','25','22','22']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":800,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                             data-textAlign="['right','right','right','right']"
                             style="z-index:99; white-space: nowrap; font-family:'Open Sans', sans-serif; font-weight: 100; font-size: 6vw !important;">
                            {% trans 'Кош Келиңиздер' %}

                        </div>
                        <!-- layer nr. 3 -->
                        <div class="tp-caption z-index-5"
                             data-x="['right','right','right','right']" data-hoffset="['90','90','20','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['120','120','120','120']"
                             data-fontsize="['18','18','18','18']"
                             data-lineheight="['18','18','18','18']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                             data-textAlign="['center','center','center','center']"
                             style="z-index: 7; white-space: nowrap; font-family:'Open Sans', sans-serif; font-weight: 100;">
                            <a href="{% url 'login' %}"
                               class="btn-setting btn-hvr-setting-main btn-pink color-white btn-hvr">{% trans 'Кирүү' %}
                                <span class="btn-hvr-setting btn-hvr-white">
						     <span class="btn-hvr-setting-inner">
							 <span class="btn-hvr-effect"></span>
                             <span class="btn-hvr-effect"></span>
                             <span class="btn-hvr-effect"></span>
                             <span class="btn-hvr-effect"></span>
                             </span>
                            </span>
                            </a>
                        </div>
                    </li>
                    <!-- slide  -->
                    <li data-index="rs-2" data-transition="fade" data-slotamount="3" data-hideafterloop="0"
                        data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="500"
                        data-rotate="0" data-saveperformance="off" data-title=""
                        data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                        data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- main image -->
                        <img src="{% static 'images/lake6.jpg' %}" alt="" data-bgposition="center center"
                             data-bgfit="cover"
                             data-bgrepeat="no-repeat" data-bgparallax="1" class="rev-slidebg" data-no-retina>
                        <!-- layer nr. 1 -->
                        <div class="tp-caption  tp-resizeme color-white"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-15','-15','-15','-15']"
                             data-fontsize="['44','44','35','30']"
                             data-lineheight="['44','44','35','30']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":600,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                             data-textAlign="['center','center','center','center']"
                             style="z-index: 8; white-space: nowrap; font-family:'Open Sans', sans-serif; font-weight: 100;font-size: 6vw !important;">
                            {% blocktrans %}<span class="font-weight-600">"Бай Эл"</span> менен
                                <br class="mobile-device"> Жакшылыкка бирге! {% endblocktrans %}
                        </div>
                        <!-- layer nr. 2 -->
                        <div class="tp-caption  tp-resizeme font-weight-100 color-white"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['45','45','45','45']"
                             data-fontsize="['25','25','22','22']"
                             data-lineheight="['25','25','22','22']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":800,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                             data-textAlign="['center','center','center','center']"
                             style="z-index:99; font-family:'Open Sans', sans-serif; font-weight: 100;">
                            {% trans 'Кош Келиңиздер' %}

                        </div>
                        <!-- layer nr. 3 -->
                        <div class="tp-caption z-index-5"
                             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['120','120','120','120']"
                             data-fontsize="['18','18','18','18']"
                             data-lineheight="['18','18','18','18']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                             data-textAlign="['center','center','center','center']"
                             style="z-index: 7; white-space: nowrap; font-family:'Open Sans', sans-serif; font-weight: 100;font-size: 6vw !important;">
                            <a href="{% url 'login' %}"
                               class="btn-setting btn-hvr-setting-main btn-pink color-white btn-hvr">{% trans 'Кирүү' %}
                                <span class="btn-hvr-setting btn-hvr-white">
						     <span class="btn-hvr-setting-inner">
							 <span class="btn-hvr-effect"></span>
                             <span class="btn-hvr-effect"></span>
                             <span class="btn-hvr-effect"></span>
                             <span class="btn-hvr-effect"></span>
                             </span>
                            </span>
                            </a>
                        </div>
                    </li>
                    <!-- slide  -->
                    <li data-index="rs-3045" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                        data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"
                        data-masterspeed="200" data-rotate="0"
                        data-fstransition="fade" data-fsmasterspeed="100" data-fsslotamount="0"
                        data-saveperformance="off" data-title="" data-param1="" data-param2="" data-param3=""
                        data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                        data-param10="" data-description="">
                        <!-- main image -->
                        <img src="{% static 'images/lake9.jpg' %}" alt="Ocean" data-bgposition="center center"
                             data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1" class="rev-slidebg">
                        <!-- layer nr. 1 -->
                        <div class="tp-caption  tp-resizeme color-white"
                             data-x="['left','left','left','left']" data-hoffset="['60','60','20','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-15','-15','-15','-15']"
                             data-fontsize="['44','44','35','30']"
                             data-lineheight="['44','44','35','30']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":600,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                             data-textAlign="['left','left','left','left']"
                             style="z-index: 8; white-space: nowrap; font-family:'Open Sans', sans-serif; font-weight: 100; font-size: 6vw;font-size: 6vw !important;">
                            {% blocktrans %}<span class="font-weight-600">"Бай Эл"</span> менен
                                <br class="mobile-device"> Жакшылыкка бирге! {% endblocktrans %}
                        </div>
                        <!-- layer nr. 2 -->
                        <div class="tp-caption  tp-resizeme font-weight-100 color-white"
                             data-x="['left','left','left','left']" data-hoffset="['60','60','20','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['45','45','45','45']"
                             data-fontsize="['25','25','22','22']"
                             data-lineheight="['25','25','22','22']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":800,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                             data-textAlign="['left','left','left','left']"
                             style="z-index:99; white-space: nowrap; font-family:'Open Sans', sans-serif; font-weight: 100">
                            {% trans 'Кош Келиңиздер' %}

                        </div>
                        <!-- layer nr. 3 -->
                        <div class="tp-caption z-index-5"
                             data-x="['left','left','left','left']" data-hoffset="['60','60','20','15']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['120','120','120','120']"
                             data-fontsize="['18','18','18','18']"
                             data-lineheight="['18','18','18','18']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
                             data-textAlign="['center','center','center','center']"
                             style="z-index: 7; white-space: nowrap; font-family:'Open Sans', sans-serif; !important; font-weight: 100;">
                            <a href="{% url 'login' %}"
                               class="btn-setting btn-hvr-setting-main btn-pink color-white btn-hvr">{% trans 'Кирүү' %}
                                <span class="btn-hvr-setting btn-hvr-white">
						     <span class="btn-hvr-setting-inner">
							 <span class="btn-hvr-effect"></span>
                             <span class="btn-hvr-effect"></span>
                             <span class="btn-hvr-effect"></span>
                             <span class="btn-hvr-effect"></span>
                             </span>
                            </span>
                            </a>
                        </div>
                    </li>

                </ul>
            </div>
        </section>
        <!--Main Slider ends -->
    </div>
    <!-- Main Section end -->

    <!-- Features start -->
    <section id="features">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="container home-login-wrapper bg-pink">
                        <div class="main-title wow fadeIn pt-30 pb-3" data-wow-delay="300ms">
                            <h2 style="color: white "> {% trans 'Кирүү' %} </h2>
                            <form method="post" action="{% url 'login' %}">
                                {% csrf_token %}

                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="id_username">{% trans 'Логин' %}</label>
                                        <input id="id_username" name="username"
                                               type="text" class="form-control">
                                    </div>
                                    <div class="col-md-5">
                                        <label for="id_password">{% trans 'Сыр сөз' %}</label>
                                        <input id="id_password" name="password"
                                               type="password" class="form-control">
                                    </div>
                                    <div class="col-md-2 home-login-btn">
                                        <button type="submit"
                                                class="btn btn-outline-light ">{% trans 'Кирүү' %}</button>
                                    </div>
                                    <style>
                                        .home-login-btn {
                                            margin-top: 2.5rem
                                        }

                                        .home-login-wrapper {
                                            border: 1px solid #ccc;
                                            border-radius: 10px;
                                            padding: 20px;
                                            color: #fff
                                        }

                                        @media screen and (max-width: 950px) {
                                            .home-login-wrapper {
                                                margin-right: 20px
                                            }
                                        }
                                    </style>
                                </div>

                                {% if form.errors %}
                                    <p class=" label label-danger">
                                        {% blocktrans %}Сиздин аты-жөнүнүз же сыр сөзүнүз келигишпей жатат. Кайрадан
                                            кайталап көрүнүз  {% endblocktrans %}
                                    </p>
                                {% endif %}

                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-4">
                    <div class="main-title wow fadeIn" data-wow-delay="300ms">
                        <h5> {% trans 'Бай Эл программасы' %} </h5>
                        <h2> {% trans 'Биздин шарттар' %}</h2>

                        <p>{% blocktrans %}"Бири бирине жардамдашуу социалдык программа "Бай Эл". Жеңилдетилген
                            программа Болгону 3 шарттан турат.{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 d-xs-none wow fadeInLeft"
                     style="overflow: hidden; margin: auto 0;">
                    <div>
                        <img class="shart-img" alt="features" src="{% static 'images/car2.png' %}">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 mx-auto wow fadeInRight ">
                    <div class="feature-item mt-0">
                        <div class="d-table-cell align-top">
                            <span class="icon"><i class="ti ti-image color-yellow"></i></span>
                        </div>
                        <div class="text d-table-cell">
                            <h4 class="color-black font-weight-light mb-10px">1 {% trans 'шарт' %}</h4>
                            <p class="font-14">{% blocktrans %}Программада аталган продукцияны сатып алуу
                                керек{% endblocktrans %}</p>
                        </div>
                    </div>
                    <div class="feature-item">
                        <div class="d-table-cell align-top">
                            <span class="icon"><i class="ti ti-timer color-yellow"></i></span>
                        </div>
                        <div class="text d-table-cell">
                            <h4 class="color-black font-weight-light mb-10px">2 {% trans 'шарт' %}</h4>
                            <p class="font-14">{% blocktrans %}Программанын тартиби боюнча эки адамга маалымат берүү
                                керек{% endblocktrans %}</p>
                        </div>
                    </div>
                    <div class="feature-item">
                        <div class="d-table-cell align-top">
                            <span class="icon"><i class="ti ti-star color-yellow"></i></span>
                        </div>
                        <div class="text d-table-cell">
                            <h4 class="color-black font-weight-light mb-10px">3 {% trans 'шарт' %}</h4>
                            <p class="font-14">{% blocktrans %}Программага жаңы кошулган адамдарга жеткиликтүү билим
                                берүү керек{% endblocktrans %}</p>
                        </div>
                    </div>
                    <div class="feature-item">
                        <div class="home-login-wrapper bg-pink">
                            <div class="row">
                                <form action="{% url 'send_message' %}">
                                    <div class="col-md-12"><p class="font-14" style="color: #fff">{% blocktrans %}Акысыз
                                        малымат алуу үчүн, аты-жөнүнүз жана телефон номериңизди калтырыңыз{% endblocktrans %}</p>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="id_name">{% trans 'Аты-жөнү' %}</label>
                                        <input id="id_name" name="name"
                                               type="text" class="form-control"
                                               placeholder="{% trans 'Нурлан' %}" required>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="id_phone">{% trans 'Телефон номери' %}</label>
                                        <input id="id_phone" name="phone"
                                               type="number" class="form-control"
                                               placeholder="{% trans '+996 500 123-456' %}"  required>
                                    </div>
                                    <div class="col-md-12 mt-2">
                                        <button type="submit"
                                                class="btn btn-outline-light ">{% trans 'Мага чалыныз!' %}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features ends -->

    <!-- Features start -->
    <section id="company">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 mx-auto wow fadeInRight ml-5" style="padding-left: 80px;">
                    <h2>{% trans 'Биздин артыкчылыктар' %}</h2>
                    <ul style="list-style: disc">
                        <li>{% trans "Долбоор жана продукция бир гана Кыргызстандан." %}</li>
                        <li>{% trans "Ар ким өз ишине жараша бирдей өлчөмдө акча алат." %}</li>
                        <li>{% trans "Сый акыны каалаган убакта алууга болот." %}</li>
                        <li>{% trans "Биргелешип иштөө же өз ара жардам көрсөтүү." %}</li>
                        <li>{% trans "«Бай Эл.kg» кайрымдуулук фондунун алкагында муктаж болгондорго жардам көрсөтүү." %}</li>
                        <li>{% trans "Кеңселердин Бишкек шаарында жана Кыргыз Республикасынын региондорунда жайгашкандыгы." %}</li>
                        <li>{% trans "Эң жогорку сапаттагы экологиялык таза продукция." %}</li>
                        <li>{% trans "Өз алдынча өнүгүүнү тренингтердин үзгүлтүксүз болушу." %}</li>
                        <li>{% trans "Каалаган убакта, каалаган адамдар менен иштоо" %}</li>
                        <li>{% trans "Товарларды сатуусуз жана мажбурлап инвестиция салбастан (активдештирүү)." %}</li>
                        <li>{% trans "Каражаттарды бир гана жолу инвестициялоо." %}</li>
                    </ul>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 d-xs-none wow fadeInLeft" style="overflow: hidden">
                    <div style="text-align: center">
                        <img class="shart-img" alt="features" src="{% static 'promotion.jpg' %}"
                             style="width: 80% !important">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features ends -->

    <!-- Features start -->
    <section id="company">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 d-xs-none wow fadeInLeft" style="overflow: hidden">
                    <div style="text-align: center">
                        <img class="shart-img" alt="features" src="{% static 'images/main.jpg' %}"
                             style="width: 60% !important">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 mx-auto wow fadeInRight">
                    <p>{% blocktrans %}Урматтуу айымдар жана мырзалар, сиздерге Кыргызстанда биринчи жолу ачылган
                        социалдык
                        бири-бирине жардамдашуу “Бай Эл.kg” Программасынын акча-каражат табуу долбоорун сиздерге
                        сунуштайм!{% endblocktrans %}</p>
                    <p>{% blocktrans %}Эгерде сиз ушул тапта карыздан кутула албай жатсаныз, кредит төлөй албай
                        чарчасаңыз,
                        менчик уйгө жете албай үмүтүңүз үзүлсө, тез арада чара көрүүнү сунуштайбыз. Жашооңуздун сапатын
                        өзгөртуп, ийгиликтүү болгунуз келсе, көптөн бери көздөгөн максатыңызга жетүүгө умтулсаңыз,
                        сиздин
                        ийгилигиңиз үчүн программа жогорку деңгээлдеги иштөө шарттарын түзүүгө баардык аракеттерди
                        жасадык.
                        Жашоонуздун сапатын жогорулашына себеп болгон, "Бай Эл.kg" программасы менен бирге кызматташууга
                        чакырабыз. Тандоо сиздин колуңузда!{% endblocktrans %}</p>
                    <br>
                    <p style="font-style: italic">{% blocktrans %}«Бай Эл» менен бирге жакшы жашоого
                        умтулалы!{% endblocktrans %}</p>
                    <br>
                    <p>Урматым менен,</p>
                    <p><span class='director'>Программанын Генералдык Директору</span><span style="float: right">Малабашова Айшакан Шаршеевна</span>
                    </p>

                </div>
            </div>
        </div>
    </section>
    <!-- Features ends -->

    <!-- Stats start -->
    <section class="stats parallax-setting parallaxie parallax5 md-bg-position" id="statistic">
        <h2 class="d-none">heading</h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-8 col-sm-12 wow fadeInLeft">
                    <p class="mb-10px font-18 color-pink white-shadow">{% blocktrans %}Биз менен байыган
                        кишилер{% endblocktrans %}</p>
                    {% if user.is_superuser %}
                        {% for x in statistic %}
                            <a href="{% url 'statistic' x.pk %}" class="btn btn-info">Изменить</a>
                        {% endfor %}
                    {% endif %}
                    <h2 class="color-black mb-25px font-weight-light line-height-normal white-shadow">
                        {% trans 'Статистика сандары ' %}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12 stats-box mb-xs-2rem">
                    <div class="serial-box bg-pink center-block wow fadeInDown">
                        <i class="ti ti-face-smile" aria-hidden="true"></i>
                        <p class="text-white pt-3 pb-3 numscroller">{{ all_users }}</p>
                        <h6 class="mb-0">{% trans 'Катталган адамдар' %}</h6>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 stats-box mb-xs-2rem">
                    <div class="serial-box bg-yellow center-block wow fadeInDown">
                        <i class="ti ti-bar-chart" aria-hidden="true"></i>
                        <p class="text-white pt-3 pb-3 numscroller">{{ statistic.0.presents }}</p>
                        <h6 class="mb-0">{% trans 'Жардам алгандар' %}</h6>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 stats-box">
                    <div class="serial-box bg-black center-block wow fadeInDown">
                        <i class="ti ti-medall" aria-hidden="true"></i>
                        <p class="text-white pt-3 pb-3 numscroller">{{ all_13users }}</p>
                        <h6 class="mb-0">{% trans 'Ийгилик ээлери' %}</h6>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Stats ends -->

    <!-- Team start -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-title wow fadeIn" data-wow-delay="300ms">
                        <h5> {% trans 'Бай Эл программасы' %} </h5>
                        <h2> {% trans 'Биз жөнүндө' %} </h2>
                        <p>{% blocktrans %}"Бай Эл" программасы 2020-жылы 12 - январда ачылыш аземин белгиледи.
                            Программанын негизги
                            максаты кыйналып жаткан адамдарга, озгочо карыздарын же кредиттерин толой албай,
                            уй/батир сатып ала албай жаткан жараандарыбызга жардам беру максатында жаралган жаңы идея.
                            🙏🙏🙏👍👍👍Бир аз суммага продукция сатып алып, ал жөнүндө маалыматты өзүбүздүн
                            жакын-адамдарга
                            айтып берсек, анын негизинде айткан жакшы кабарыңыз үчүн сизге акчалай сыйлык берилет.
                            Программада активдуу катышуучуларга кошумча белектер берилет. Аз убакытта сиз
                            бир туугандарыңыз, жакын адамдарыңыз менен бөлүшүп, жакшы
                            сыйлыктарга ээ болосуз. Кыргызстанда биринчи жолу түзүлгөн программа баардыгыңыздардын
                            купулунуздарга толуп, биргелишип иш кылабыз деген умуттобуз. Негизги максат - өзүбүз
                            бутубузга туруп, андан кийин, жардамга муктаж адамдарга, карылар үйүнө, жетим балдар
                            үйүнө, майып адамдарга жана карыздан, кредиттен кутула албай жаткан адамдарга кол кабыш
                            кылуу. Биз менен бирге бир жеңден кол, бир жакадан баш чыгарып, мамлекетибиздин
                            жана анын жарандарынын жашоо шартын жакшыртуу ирээтинде, бирге иш кылалы. <br>
                            Урматтуу бир туугандар жана партнерлор, "Бай Эл" программасы менен жакшы жашоого бирге
                            умтулалы!
                        {% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team ends -->


    <!-- Blog start -->
    <section id="blog" class="pb-0 pt-0">
        <div class="blog-vertical bg-light-gray">
            <h2 class="d-none">heading</h2>
            <div class="main-title wow fadeIn pt-3" data-wow-delay="300ms">
                <h5> {% trans 'Бай Эл программасы' %} </h5>
                <h2> {% trans 'Жаңылыктар' %} </h2>
            </div>
            <div class="container">
                <!-- LightWidget WIDGET -->
                <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
                <iframe src="//lightwidget.com/widgets/02eac0e2ad53538fb3ad6fab0ce47093.html" scrolling="no"
                        allowtransparency="true" class="lightwidget-widget"
                        style="width:100%;border:0;overflow:hidden;"></iframe>
            </div>
        </div>
    </section>
    <!-- Blog ends -->

    <!-- Contact & Map starts -->
    <section id="contact" class="pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                    <div class="contact-box-shadow">
                        <div class="text-left sm-text-center w-100">
                            <h2 class="color-black font-weight-500 mb-2rem"> {% trans 'Биздин даректер' %}</h2>
                        </div>
                        <div class="contact-info sm-text-center">
                            <div class="icon-box">
                                <i class="ti ti-mobile color-pink"></i>
                                <p class="color-grey"> +996 (774) 555 678</p>
                            </div>
                            <div class="icon-box">
                                <i class="ti ti-email color-pink"></i>
                                <p><a href="mailto:email@website.com" class="color-grey">info@bayel.kg</a></p>
                            </div>
                            <div class="icon-box">
                                <i class="ti ti-location-pin color-pink"></i>
                                <p class="color-grey"> {% blocktrans %}г. Бишкек, ул. Юсупа Абдрахманова
                                    175а{% endblocktrans %}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 mb-5 col-map wow fadeInUp" data-wow-delay="400ms">
                    <div id="map" style="width:600px; height:400px"></div>
                </div>
            </div>

        </div>
    </section>
    <!-- Contact & Map ends -->
{% endblock %}