{% extends 'manager_base.html' %}
{% load static i18n l10n %}
{% block content %}
    <!-- Page -->
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">{% trans "Колдонуучулардын тизмеси" %}</h1>
        </div>
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <!-- Panel Filtering rows -->
                    <div class="panel">
                        <header class="panel-heading" style="display: flex">
                            <h3 class="panel-title">Введите дату</h3>
                        </header>
                        <div class="panel-body">
                            <form action="{% url 'report_search' %}" method="get">
                                <input name="q" type="date" class="form-control search-input-list1"
                                       style="width: 300px; float: left;" required>
                                <input name="end-date" type="date" class="form-control search-input-list1"
                                       style="width: 300px; float: left;">
                                <select name="user_office" class="form-control my-form inline-block width-20 ml-2"
                                        id="id_user_office">
                                    {% if user_office_context %}
                                        <option value="{{ user_office_context.office_name }}"
                                                selected="">{{ user_office_context.office_name }}</option>
                                    {% else %}
                                        <option value="" selected="">Регион</option>
                                    {% endif %}
                                    {% for office in all_offices %}
                                        <option value="{{ office.office_name }}">{{ office.office_name }}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-primary width-10" style="margin-left: 10px;">Поиск</button>
                            </form>
                            <table class="table table-bordered table-hover toggle-circle">
                                <thead>
                                <tr>
                                    <th data-name="id" data-type="number" data-breakpoints="xs">№</th>
                                    <th data-name="firstName">{% trans "Логин" %}</th>
                                    <th data-name="something">{% trans "ФИО" %}</th>
                                    <th data-name="something">Белги</th>
                                    <th data-name="firstName" class="balls-cell">{% trans "Баллы" %}</th>
                                    <th data-name="jobTitle" data-breakpoints="xs sm">{% trans "Телефон" %}</th>
                                    <th data-name="firstName" class="product-cell">Продукция</th>
                                    <th data-name="firstName" class="by-whom-cell">{% trans "Спонсордун ФИО" %}</th>
                                    {% if user.is_superuser %}
                                        <th data-name="lastName" class="management-cell">{% trans "Башкаруу" %}</th>
                                    {% elif user.is_cashier or user.is_staff %}
                                        <th data-name="lastName" class="management-cell">{% trans "Башкаруу" %}</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                            {% include 'paginator.html' with page=page_obj %}

                        </div>
                    </div>
                    <!-- End Panel Filtering -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Page -->
{% endblock %}