{% extends 'manager_base.html' %}
{% load i18n static %}
{% block content %}
    <div class="container">
        <!-- Features start -->
        <section id="features" class="mt-lg-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="main-title wow fadeIn" data-wow-delay="300ms">
                            <h2> {% trans 'Ресурстар' %} </h2>
                        </div>
                    </div>
                </div>
                <div class="container cc_cursor">
                    {% if user.is_superuser %}
                        <a href="{% url 'resource_create' %}" class="btn btn-outline-success mb-lg-4">Добавить файл</a>
                    {% endif %}
                    <div class="card-deck mb-3 text-center cc_cursor">
                        {% for x in object_list|slice:":4" %}
                            <div class="card col-md-3 shadow-sm">
                                <div class="card-header">
                                    <h4 class="my-0 font-weight-normal">{{ x.title }}</h4>
                                </div>
                                <div class="card-body">
                                    <img src="{% static 'img/pdf.svg' %}" alt="" width="150px">
                                    <a href="{{ x.file.url }}" target="_blank"
                                       class="btn btn-lg btn-block btn-outline-primary cc_pointer mt-lg-4">{% trans 'Жүктөп алуу' %}</a>
                                    {% if user.is_superuser %}
                                        <a href="{% url 'resource_delete' x.pk %}" target="_blank"
                                           class="btn btn-lg btn-block btn-outline-danger cc_pointer mt-lg-4">{% trans 'Өчүрүү' %}</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="card-deck mb-3 text-center cc_cursor">
                        {% for x in object_list|slice:"5:9" %}
                            <div class="card col-md-3 shadow-sm">
                                <div class="card-header">
                                    <h4 class="my-0 font-weight-normal">{{ x.title }}</h4>
                                </div>
                                <div class="card-body">
                                    <img src="{% static 'img/pdf.svg' %}" alt="" width="150px">
                                    <a href="{{ x.file.url }}" target="_blank"
                                       class="btn btn-lg btn-block btn-outline-primary cc_pointer mt-lg-4">{% trans 'Жүктөп алуу' %}</a>
                                    {% if user.is_superuser %}
                                        <a href="{% url 'resource_delete' x.pk %}" target="_blank"
                                           class="btn btn-lg btn-block btn-outline-danger cc_pointer mt-lg-4">{% trans 'Өчүрүү' %}</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="card-deck mb-3 text-center cc_cursor">
                        {% for x in object_list|slice:"9:13" %}
                            <div class="card col-md-3 shadow-sm">
                                <div class="card-header">
                                    <h4 class="my-0 font-weight-normal">{{ x.title }}</h4>
                                </div>
                                <div class="card-body">
                                    <img src="{% static 'img/pdf.svg' %}" alt="" width="150px">
                                    <a href="{{ x.file.url }}" target="_blank"
                                       class="btn btn-lg btn-block btn-outline-primary cc_pointer mt-lg-4">{% trans 'Жүктөп алуу' %}</a>
                                    {% if user.is_superuser %}
                                        <a href="{% url 'resource_delete' x.pk %}" target="_blank"
                                           class="btn btn-lg btn-block btn-outline-danger cc_pointer mt-lg-4">{% trans 'Өчүрүү' %}</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </section>
    </div>
    <!-- Features ends -->
{% endblock %}