{% extends 'manager_base.html' %}
{% load i18n %}
{% block content %}
    <!-- Features start -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-title wow fadeIn" data-wow-delay="300ms">
                        <h2> Изменить статистику </h2>
                    </div>
                </div>
            </div>
            <div class="row mb-70">
                <div class="col-md-6">
                    <form action="" class="user-update-form" method="post" novalidate="novalidate">
                        {% csrf_token %}
                        <label for="id_registration_users">Катталган адамдар:</label>
                        <input type="number" name="registration_users" value="{{ object.registration_users }}"
                               required="" id="id_registration_users" class="form-control">

                        <label for="id_presents">Алынган белектер:</label>
                        <input type="number" name="presents" value="{{ object.presents }}" required="" id="id_presents"
                               class="form-control">

                        <label for="id_starts">Ийгилик ээлери:</label>
                        <input type="number" name="starts" value="{{ object.starts }}" required="" id="id_starts"
                               class="form-control">

                        <div class="btn-signup">
                            <button type="submit" class="btn btn-outline-success signup-btn">Сактоо</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Features ends -->
{% endblock %}