{% extends 'manager_base.html'%}
{% load static i18n l10n %}
{% block content%}
<style>
	.context{
		width: 10000px;
		height: 10000px;
		background-color: #ccc;
	}
</style>
<div class="context">
    <!-- <link rel="stylesheet" href="{% static 'css/matrix.css' %}"> -->
    <div class="container con-matrix">
            
    </div>
</div>    
{% endblock %}