{% extends 'manager_base.html' %}
{% load static i18n l10n %}
{% block content %}
    <!-- Page -->
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">{% trans "Колдонуучулардын тизмеси" %}</h1>
        </div>
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <!-- Panel Filtering rows -->
                    <div class="panel">

                        <div class="row pl-4 pr-4 pt-4">
                            <div class="col-md-3">
                                <!-- Registration Operators Card -->
                                <a href="{% url 'operator_signup' %}">
                                    <div class="card card-block mb-0  p-30 bg-green-600">
                                        <div class="card-watermark darker font-size-60 m-15"><i
                                                class="icon md-accounts-add cc_cursor" aria-hidden="true"></i></div>
                                        <div class="counter counter-md counter-inverse text-left">
                                            <div class="counter-number-group">
                                                <span class="counter-number-related text-capitalize cc_cursor"
                                                      style="font-size: 18px;">Регистрация</span>
                                                <span class="counter-number"
                                                      style="font-size: 18px;">{{ reg_date.count }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <!-- End Card -->
                            </div>
{#                            <div class="col-md-3">#}
{#                                <!-- Card -->#}
{#                                <a href="{% url 'operator_report' %}">#}
{#                                    <div class="card card-block mb-0  p-30 bg-blue-600">#}
{#                                        <div class="card-watermark darker font-size-80 m-15"><i#}
{#                                                class="icon md-assignment cc_cursor" aria-hidden="true"></i></div>#}
{#                                        <div class="counter counter-md counter-inverse text-left">#}
{#                                            <div class="counter-number-group">#}
{#                                                <span class="counter-number-related text-capitalize cc_cursor"#}
{#                                                      style="font-size: 18px;">Отчет операторов</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </a>#}
{#                                <!-- End Card -->#}
{#                            </div>#}
                            <style>
                                .nav-link:focus, .nav-link:hover {
                                    color: #fff;
                                    background-color: transparent !important;
                                }
                            </style>
                            {#                            <div class="col-md-3">#}
                            {#                                <!-- Card -->#}
                            {#                                <a href="{% url 'offices_list' %}">#}
                            {#                                    <div class="card card-block mb-0  p-30 bg-orange-400">#}
                            {#                                        <div class="card-watermark darker font-size-80 m-15"><i#}
                            {#                                                class="icon md-assignment cc_cursor" aria-hidden="true"></i></div>#}
                            {#                                        <div class="counter counter-md counter-inverse text-left">#}
                            {#                                            <div class="counter-number-group">#}
                            {#                                                <span class="counter-number-related text-capitalize cc_cursor"#}
                            {#                                                      style="font-size: 18px;">Офисы</span>#}
                            {#                                            </div>#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                </a>#}
                            {#                                <!-- End Card -->#}
                            {#                            </div>#}
                            {#                            <div class="col-md-3">#}
                            {#                                <!-- Card -->#}
                            {#                                <a href="{% url 'offices_list' %}">#}
                            {#                                    <div class="card card-block mb-0  p-30 bg-red-600">#}
                            {#                                        <div class="card-watermark darker font-size-80 m-15"><i#}
                            {#                                                class="icon md-assignment cc_cursor" aria-hidden="true"></i></div>#}
                            {#                                        <div class="counter counter-md counter-inverse text-left">#}
                            {#                                            <div class="counter-number-group">#}
                            {#                                                <span class="counter-number-related text-capitalize cc_cursor"#}
                            {#                                                      style="font-size: 18px;">Операторы</span>#}
                            {#                                            </div>#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                </a>#}
                            {#                                <!-- End Card -->#}
                            {#                            </div>#}

                        </div>
                        <div class="panel-body">

                            <table class="table table-bordered table-hover toggle-circle">
                                <thead>
                                <tr>
                                    <th data-name="id" data-type="number" data-breakpoints="xs">№</th>
                                    <th data-name="firstName">Права</th>
                                    <th data-name="firstName">{% trans "Логин" %}</th>
                                    <th data-name="something">{% trans "ФИО" %}</th>
                                    <th data-name="something">Регион</th>
                                    <th data-name="jobTitle" data-breakpoints="xs sm">{% trans "Телефон" %}</th>
                                    <th data-name="lastName" class="management-cell"
                                        width="10%">{% trans "Управление" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for list in object_list %}
                                    <tr>
                                        <td class="counterCell"></td>
                                        <td>{% if list.is_staff and not list.is_superuser %}
                                            Оператор{% elif list.is_cashier %}Кассир{% elif list.is_superuser %}
                                            Администратор{% endif %}</td>
                                        <td style="text-align: left"><a href="{% url 'operator_details' pk=list.pk %}">{{ list.username }}</a></td>
                                        <td>{{ list.user_fullname }}</td>
                                        <td>{{ list.user_office }}</td>
                                        <td>{{ list.user_phone }}</td>
                                        <td>
                                            <a href="{% url 'user_update' pk=list.pk oper=user.pk %}?next={{ request.path|urlencode }}"
                                               style="background:green; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px; margin-left:1px;">
                                                <i class="icon  wb-settings"></i></a>
                                            <a href="{% url 'user_delete' list.pk %}?next={{ request.path|urlencode }}"
                                               style="background:red; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px;"><i
                                                    class="icon wb-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% include 'paginator.html' with page=page_obj %}

                        </div>
                    </div>
                    <!-- End Panel Filtering -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Page -->
{% endblock %}