{% extends 'manager_base.html' %}
{% load static i18n l10n %}
{% block content %}
    <!-- Page -->
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">{% trans "Колдонуучулардын тизмеси" %}%}</h1>
        </div>
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <!-- Panel Filtering rows -->
                    <div class="panel">
                        <header class="panel-heading">
                            <h3 class="panel-title">Отчет</h3>
                        </header>

                        <div class="panel-body">
                            <form action="{% url 'operator_details' pk=report_user.pk %}" method="get">
                                <input name="q" type="date" class="form-control search-input-list1"
                                       style="width: 300px; float: left;" required>
                                <input name="end-date" type="date" class="form-control search-input-list1"
                                       style="width: 300px; float: left;">
                                <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Поиск</button>
                            </form>
                            <style>
                                .counter-md .counter-number-group, .counter-md > .counter-number {
                                    font-size: 20px;
                                }

                                .nav-tabs .nav-link {
                                    padding: 10px;
                                    font-size: 17px;
                                }

                                .margin-left-right {
                                    padding: 15px 0 0 0 !important;
                                }

                            </style>


                            <div class="col-xl-12 margin-left-right">
                                <!-- Example Tabs Reverse -->
                                <div class="example-wrap">
                                    <div class="nav-tabs-horizontal" data-plugin="tabs">
                                        <ul class="nav nav-tabs nav-tabs-reverse" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active" data-toggle="tab"
                                                   href="#exampleTabsReverseOne" aria-controls="exampleTabsReverseOne"
                                                   role="tab" aria-selected="false">Новые
                                                    ({{ report_box.user_counter }})</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" data-toggle="tab" href="#exampleTabsReverseTwo"
                                                   aria-controls="exampleTabsReverseTwo" role="tab"
                                                   aria-selected="false">Выданные 75 ({{ report_box.money }})</a>
                                            </li>

                                            {#                                            <li class="nav-item" role="presentation">#}
                                            {#                                                <a class="nav-link" data-toggle="tab" href="#exampleTabsReverseThree"#}
                                            {#                                                   aria-controls="exampleTabsReverseThree" role="tab"#}
                                            {#                                                   aria-selected="false">Подарки#}
                                            {#                                                    ({{ report_box.presents }})</a>#}
                                            {#                                            </li>#}
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link " data-toggle="tab" href="#exampleTabsReverseFour"
                                                   aria-controls="exampleTabsReverseFour" role="tab"
                                                   aria-selected="true">Продукция
                                                    ({{ report_box.products }})</a>
                                            </li>
                                            <li class="dropdown nav-item" role="presentation" style="display: none;">
                                                <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#"
                                                   aria-expanded="false">Отчёт </a>
                                                <div class="dropdown-menu" role="menu">
                                                    <a class="dropdown-item" data-toggle="tab"
                                                       href="exampleTabsReverseOne"
                                                       aria-controls="exampleTabsReverseOne" role="tab">Новые
                                                        пользователи ({{ report_box.user_counter }})</a>
                                                    <a class="dropdown-item" data-toggle="tab"
                                                       href="#exampleTabsReverseTwo"
                                                       aria-controls="exampleTabsReverseTwo" role="tab">Выданные
                                                        ({{ report_box.money }})</a>
                                                    {#                                                    <a class="dropdown-item" data-toggle="tab"#}
                                                    {#                                                       href="#exampleTabsReverseFife"#}
                                                    {#                                                       aria-controls="exampleTabsReverseFife" role="tab">Выданные#}
                                                    {#                                                        31#}
                                                    {#                                                        ({{ report_box.money13 }})</a>#}
                                                    {#                                                    <a class="dropdown-item" data-toggle="tab"#}
                                                    {#                                                       href="#exampleTabsReverseThree"#}
                                                    {#                                                       aria-controls="exampleTabsReverseThree" role="tab">#}
                                                    {#                                                        Подарки ({{ report_box.presents }})</a>#}
                                                    <a class="dropdown-item" data-toggle="tab"
                                                       href="#exampleTabsReverseFour"
                                                       aria-controls="exampleTabsReverseFour" role="tab">
                                                        Продукция ({{ report_box.products }})</a>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="tab-content pt-20">
                                            <div class="tab-pane active" id="exampleTabsReverseOne" role="tabpanel">
                                                <table class="table table-bordered table-hover toggle-circle">
                                                    <thead>
                                                    <tr>
                                                        <th data-name="id" data-type="number" data-breakpoints="xs">№
                                                        </th>
                                                        <th data-name="firstName">{% trans "Логин" %}</th>
                                                        <th data-name="something">{% trans "ФИО" %}</th>
                                                        <th data-name="something">Операция</th>
                                                        <th data-name="something">Дата</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for list in object_list %}
                                                        <tr>
                                                            <td class="counterCell"></td>
                                                            <td style="text-align: left"><a
                                                                    style="text-decoration: none"
                                                                    href="{% url 'user_detail' list.oper_his_user.id %}">{{ list.oper_his_user.username }}</a>
                                                            </td>
                                                            <td>{{ list.oper_his_user.user_fullname }}</td>
                                                            <td>{{ list.oper_his_note }}</td>
                                                            <td>{{ list.oper_his_date }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="tab-pane" id="exampleTabsReverseTwo" role="tabpanel">
                                                <table class="table table-bordered table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>№</th>
                                                        <th data-name="firstName">Логин</th>
                                                        <th data-name="firstName">ФИО</th>
                                                        <th>Телефон</th>
                                                        <th data-name="something">{% trans "Алган күнү" %}</th>
                                                        <th data-name="firstName">{% trans "Сумма" %}</th>
                                                        <th data-name="firstName">{% trans "билдирүү" %}</th>
                                                        {% if user.is_superuser %}
                                                            <th></th>
                                                        {% endif %}
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for info in history_est %}
                                                        <tr>
                                                            <td class="counterCell"></td>
                                                            <td><a href="{% url 'user_detail' info.history_user.pk %}"
                                                                   style="text-decoration: none">{{ info.history_user }}</a>
                                                            </td>
                                                            <td>{{ info.history_user.user_fullname }}</td>
                                                            <td>{{ info.history_user.user_phone }}</td>
                                                            <td>{{ info.history_date|date:'d-m-Y H:i' }}</td>
                                                            <td>{{ info.history_amount }}</td>
                                                            <td>{{ info.history_remark }}</td>
                                                            {% if user.is_superuser %}
                                                                <td>
                                                                    <a href="{% url 'history_delete' info.pk %}?next={{ request.path|urlencode }}"
                                                                       style="background:red; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px;"><i
                                                                            class="icon wb-trash"></i></a>
                                                                </td>
                                                            {% endif %}
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                                <span class="panel-title title-counters"><a class="history-print"
                                                                                            href="{% url 'search_given_money' %}?date={{ search_input }}&end_date={{ end_date }}">Распечатать историю</a></span>
                                            </div>
                                            <div class="tab-pane " id="exampleTabsReverseFour"
                                                 role="tabpanel">
                                                <table class="table table-bordered table-hover toggle-circle">
                                                    <thead>
                                                    <tr>
                                                        <th data-name="id"
                                                            data-type="number"
                                                            data-breakpoints="xs">
                                                            №
                                                        </th>
                                                        <th data-name="firstName">
                                                            Логин
                                                        </th>
                                                        <th data-name="something">
                                                            ФИО
                                                        </th>
                                                        <th data-name="something">
                                                            Операция
                                                        </th>
                                                        <th data-name="jobTitle"
                                                            data-breakpoints="xs sm">
                                                            Продукция
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for list in product_est %}
                                                        <tr>
                                                            <td class="counterCell"></td>
                                                            <td style="text-align: left">
                                                                <a style="text-decoration: none"
                                                                   href="{% url 'user_detail' list.oper_his_user.pk %}">
                                                                    {{ list.oper_his_user.username }}</a>
                                                            </td>
                                                            <td>{{ list.oper_his_user.user_fullname }}</td>
                                                            <td>{{ list.oper_his_note }}</td>
                                                            <td>{{ list.oper_his_date|date:'d-m-Y H:i' }}</td>

                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>

                                            {#                                            <div class="tab-pane" id="exampleTabsReverseThree" role="tabpanel">#}
                                            {#                                                <table class="table table-bordered table-hover toggle-circle">#}
                                            {#                                                    <thead>#}
                                            {#                                                    <tr>#}
                                            {#                                                        <th data-name="id" data-type="number" data-breakpoints="xs">№#}
                                            {#                                                        </th>#}
                                            {#                                                        <th data-name="firstName">Логин</th>#}
                                            {#                                                        <th data-name="something">ФИО</th>#}
                                            {#                                                        <th data-name="something">Ремарка</th>#}
                                            {#                                                        <th data-name="jobTitle" data-breakpoints="xs sm">Подарок 3#}
                                            {#                                                            уровень#}
                                            {#                                                        </th>#}
                                            {#                                                        <th data-name="firstName" class="product-cell">Подарок 5#}
                                            {#                                                            уровень#}
                                            {#                                                        </th>#}
                                            {#                                                        <th data-name="lastName" class="management-cell">Управление</th>#}
                                            {#                                                    </tr>#}
                                            {#                                                    </thead>#}
                                            {#                                                    <tbody>#}
                                            {#                                                    {% for list in present_est %}#}
                                            {#                                                        <tr>#}
                                            {#                                                            <td class="counterCell"></td>#}
                                            {#                                                            <td style="text-align: left"><a#}
                                            {#                                                                    style="text-decoration: none"#}
                                            {#                                                                    href="{% url 'user_detail' list.pk %}">{{ list.username }}</a>#}
                                            {#                                                            </td>#}
                                            {#                                                            <td>{{ list.user_fullname }}</td>#}
                                            {#                                                            <td>{% if list.notes != None %}#}
                                            {#                                                                {{ list.notes }}{% endif %}</td>#}
                                            {##}
                                            {#                                                            <td>{% if list.present_line_3 %}#}
                                            {#                                                                <img src="{% static 'img/icons/icon-yes.svg' %}">#}
                                            {#                                                                {{ list.present_date_3 }}{% else %}#}
                                            {#                                                                <img src="{% static 'img/icons/icon-no.svg' %}"> {% endif %}#}
                                            {#                                                            </td>#}
                                            {#                                                            <td>#}
                                            {#                                                                {% if list.present_line_5 %}#}
                                            {#                                                                    <img src="{% static 'img/icons/icon-yes.svg' %}">#}
                                            {#                                                                    {{ list.present_date_5 }}{% else %}#}
                                            {#                                                                    <img src="{% static 'img/icons/icon-no.svg' %}"> {% endif %}#}
                                            {#                                                            </td>#}
                                            {##}
                                            {##}
                                            {#                                                            <td>#}
                                            {#                                                                <a href="{% url 'belgi_update' list.pk %}?next={{ request.path|urlencode }}"#}
                                            {#                                                                   style="background: #1bc5ce; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px; margin-left:1px;">#}
                                            {#                                                                    <i class="icon  wb-settings"></i></a>#}
                                            {#                                                            </td>#}
                                            {##}
                                            {#                                                        </tr>#}
                                            {#                                                    {% endfor %}#}
                                            {#                                                    </tbody>#}
                                            {#                                                </table>#}
                                            {#                                            </div>#}

                                        </div>
                                    </div>
                                </div>
                                <!-- End Example Tabs Reverse -->
                            </div>

                        </div>
                        <!-- End Panel Filtering -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page -->
    </div>
{% endblock %}