body {
    overflow: hidden;
}

.main {
    background: url(../images/zakat_pliazh_palmy_146047_1920x1080.jpg);
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.container {
    color: #fff;
    width: 100%;
}

.con-matrix {
    max-width: 100%;
    height: 100%;
}

.content {
    /*width: 80%;*/
    height: 100%;
    margin: 0 auto;
}

.matrix-column {
    width: 100%;
    height: 12%;
    /*margin-bottom: 20px;*/
    position: relative;
    display: flex;
    justify-content: space-around;
}

.item {
    width: 20%;
    height: 90%;
    background: #844adb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9647DB), to(#5E57EA));
    color: #fff;
    margin-right: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    border: 4px solid;
    border-color: #F9737A;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}


.item:hover {
    background: #5E57EA;
}

.item2:hover {
    background: #5E57EA;
}


.item-up {
    width: 100%;
    height: 40%;
    text-align: center;
    cursor: pointer;
}

.item-down {
    width: 80%;
    height: 50%;
    text-align: center;
    cursor: pointer;
    float: right;
}

/* BUTTONS */

.buttons {
    width: 100%;
    height: 7vh;
    text-align: left;
    padding-top: 40px;
}

.button {
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding: 0.5rem 1rem;
    border: 1px solid #5bc0de;
    margin-top: 20px;
    background: #5bc0de;

}

.button:hover {
    text-decoration: none;
    opacity: 0.9;
    color: #fff;
}

.num-matrix {
    position: absolute;
    padding: 0.6rem;
    border-radius: 20px;
    border: 1px solid;
    left: 5px;
    top: 5px;
    font-weight: 600;
    align-items: center;
    display: flex;
    justify-content: center;
}

.matrix-first-name {
    font-weight: 600;
    padding-top: 15px;
    font-size: 17px;
}

.a-matrix {
    display: block;
    width: 100%;
    color: #fff;
}

.a-matrix:hover {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 800px) {
    .item {
        width: 55%;
        height: 80%;
    }

    .matrix-column-mobile {
        display: flex !important;
        justify-content: space-around;
    }

    .left-side {
        width: 100%;
        padding-bottom: 10px;
    }

    .right-side {
        width: 100%;
        padding-bottom: 10px;
    }

    .item-mobile {
        width: 95% !important;
        margin-bottom: 10px;
        height: 90%;
    }
}

.matrix-column-desktop {
    display: none;
}

.matrix-column-mobile {
    display: none;
}

@media screen and (min-width: 800px) {
    .matrix-column-desktop {
        display: flex;
    }
}

.matrix-first-name {
    color: #fff;
    text-decoration: none;
    width: 80%;
    float: right;
    margin: 0;
    font-size: 15px;
}

.matrix-first-name:hover {
    text-decoration: none;
}

.num-matrix {
    color: #fff;
    height: 28px;
    width: 28px;
}

.matrix-column-4-row {
    font-size: 0.8rem;
}

.matrix-4-name {
    font-size: 1.1em;
    padding-top: 5px;
}

.num-4-row {
    height: 20px;
    width: 20px;
}

.matrix-column-5-row {
    font-size: 0.8rem;
    height: 10%;
}

.matrix-5-name {
    font-size: 1.1em;
    padding-top: 5px;
    width: 100%;
    float:none;
}

.num-5-row {
    height: 20px;
    width: 20px;
}

.item-5 {
    height: 90%;
}

.down-5-row {
    width: 100%;

}

.row-6 {
    display: flex;
    justify-content: space-evenly;
}
