@media screen and (max-width: 800px) {
    .panel-body, .panel-footer, .panel-title {
        padding: 0 5px !important;
    }

    .card-block {
        padding: 20px !important;
    }

    .detail-main-block {
        padding: 0;
    }

    .passport-img {
        padding-bottom: 30px;
    }

    body {
        overflow-x: hidden;
    }

    .content {
        width: 100% !important;
    }

    .num-matrix {
        top: 5px !important;
        left: 5px !important;
        font-size: 12px !important;
        padding-right: 0.7rem !important;

        color: #fff;
        height: 22px !important;
        width: 22px !important;
        line-height: 0;
    }

    .matrix-first-name {
        font-size: 14px !important;
        color: #fff;
        text-decoration: none;
        width: 80%;
        float: right;
        margin: 0;
        font-size: 15px !important;
        padding: 0 !important;
    }

    .item-down {
        width: 80%;
        height: 50%;
        text-align: center;
        cursor: pointer;
        float: right !important;
        /* padding: 0; */
    }

    .media-no-top {
        padding-top: 0 !important;
        margin-top: 0 !important;
    }
}

@media screen and (max-width: 850px) {
    .select2-container--default .select2-selection--single {
        width: 93vw !important;
    }

    .select2-dropdown {
        width: 93vw !important;
    }

    .navbar-brand-logo {
        display: none !important;
    }

    /*.nav-item {*/
    /*    display: none;*/
    /*}*/
    .nav-link {
        position: relative;
        display: block;
        /* padding: .715rem 1.072rem; */
        padding: 0;
        overflow: hidden;
        padding-right: 0.5vw;
        padding-left: 0.5vw;
        padding-left: 1px !important;
    }

    .navbar-toggler {
        display: block;
    }

    .navbar-collapse {
        /* width: auto; */
        border-top: 0;
        box-shadow: none;
        width: 80vw;
        position: absolute;
        right: 2vw;
    }
}

@media screen and (min-width: 750px) {
    .navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .select2-container--default .select2-selection--single {
        width: 89vw !important;
    }

    .select2-dropdown {
        width: 89vw !important;
    }
}

@media screen and (min-width: 770px) {
    .balance-nav {
        display: none;
    }
}

@media screen and (min-width: 560px) {
    .balance-nav {
        font-size: 3vw !important;
    }
}

@media screen and (max-width: 1040px) {
    .nav {
        font-size: 10px;
    }

    .nav-link {
        margin: 0;
        padding: 5px;
    }

    .site-footer-right {
        font-size: 10px;
    }

    .site-footer-legal {
        font-size: 10px;
    }
}


@media (max-width: 767px) {
    form.lang-nav.nav-mobile {
        padding: 10px 0px;
    }
}