.main {
    background: url(../images/zakat_pliazh_palmy_146047_1920x1080.jpg);
    height: 90vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    overflow-y: hidden;
    padding-top: 3vh;
}

.table-block {
    margin: auto;
    width: 95%;
    height: 80vh;
    overflow-y: scroll;
}
.title {
    font-size: 18px;
    font-weight: 500 !important;
}
.table-list-matrix {
    background-color: #844adb !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9647DB), to(#5E57EA)) !important;
    color: white !important;
}

.table thead th {
    color: white !important;
}