{% extends 'main_base.html' %}
{% load i18n %}
{% block content %}


    <!-- Page -->
    <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out"
         style="margin-top: 150px; margin-bottom: 100px;">
        <div class="page-content vertical-align-middle">
            <header>
                <h1 class="animation-slide-top" style="font-size: 25vh;">400</h1>
                <p style="font-size: 24px;margin: 30px 0; text-transform: uppercase;">{% trans 'Баракча табылган жок' %}
                    !</p>
            </header>
            <p class="error-advise" style="margin: 20px 0;">{% blocktrans %}Сиз жазган баракча жок, кайрадан кайталап
                көрүңүз{% endblocktrans %}</p>
            <a class="btn btn-primary btn-round" href="{% url 'home' %}">{% trans 'Башкы бетке өтүңүз' %}</a>
        </div>
    </div>
    <!-- End Page -->



{% endblock %}