{% extends 'manager_base.html' %}
{% load static i18n l10n %}
{% block content %}
    <!-- Page -->
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">{% trans "Жанылыктарды өзгөртүү" %}%}</h1>
        </div>
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <!-- Panel Filtering rows -->
                    <div class="panel">
                        <header class="panel-heading">
                            <h3 class="panel-title">{% trans "Жанылыктарды өзгөртүү" %}</h3>
                        </header>
                        <div class="panel-body">
                            <table class="table table-bordered table-hover toggle-circle">
                                <thead>
                                <tr>
                                    <th>{% trans 'Аталышы' %}</th>
                                    <th>{% trans 'Жарыяланган күнү' %}</th>
                                    <th>{% trans 'Башкаруу' %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for news in object_list %}
                                    <tr>
                                        <td>{{ news.title }}</td>
                                        <td >{{ news.date }}</td>
                                        <td>
                                            <a href="{% url 'news_update' news.pk %}"
                                               style="background:green; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px; margin-left:1px;">
                                                <i class="icon  wb-settings"></i></a>
                                            <a href="{% url 'news_delete' news.pk %}"
                                               style="background:red; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px; margin-left:1px;">
                                                <i class="icon  wb-close"></i></a>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Panel Filtering -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Page -->
{% endblock %}