{% extends 'manager_base.html' %}
{% load i18n l10n %}
{% block content %}
    {% get_current_language as LANGUAGE_CODE %}
    <!-- Page -->
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">{% if LANGUAGE_CODE == 'ru' %}{{ object.title_ru }}{% else %}{{ object.title }}{% endif %}</h1>
        </div>
        <div class="page-content page-content-news">
            <div class="projects-wrap">
                <div class="row">
                    <div class="animation-scale-up col-lg-8 col-md-8"
                         style="animation-fill-mode: backwards; animation-duration: 250ms; animation-delay: 0ms;">
                        <div class="news-main">
                            <img class="card-img-top img-fluid img-news" src="{{ object.image.url }}"
                                 alt="Card image cap">
                            <div class="card-block">
                                <h4 class="news-title">{% if LANGUAGE_CODE == 'ru' %}{{ object.title_ru }}{% else %}{{ object.title }}{% endif %}</h4>
                                <p>{{ object.date }}</p>
                                <p class="card-text news-text">{% if LANGUAGE_CODE == 'ru' %}{{ object.description_ru }}{% else %}{{ object.description }}{% endif %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page -->


{% endblock %}