{% extends 'manager_base.html' %}
{% load i18n l10n %}
{% block content %}



    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h4 style="text-align: center;"><p>{% trans 'Саламатсызбы' %}, {{ user.user_fullname }}!</p>
                <p>{% blocktrans %}"Бай эл" программасынын сайтына кош келдиниз!{% endblocktrans %}</p></h4>
        </div>

    </div>

    <style>
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0, 0, 0); /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            width: 50%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close {
            color: #aaa;
            text-align: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        @media screen and (max-width: 767px) {
            .modal-content {
                background-color: #fefefe;
                margin: 30% auto;
                padding: 5px;
                width: 90%;
            }
        }
    </style>




    <!-- Page -->
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">{% trans "Жаңылыктар" %}</h1>
        </div>
        <div class="page-content container-fluid media-no-top">
            <div class="projects-wrap">
                {% if user.is_superuser %}
                    <a href="{% url 'news_create' %}" class="btn btn-primary"
                       style="position: relative; margin: 10px 0;">{% trans 'Жаңылык кошуу' %}</a>
                    <a href="{% url 'news_manager' %}" class="btn btn-primary"
                       style="position: relative; margin: 10px 0;">{% trans 'Жаңылыктарды өзгөртүү' %}</a>
                {% endif %}
                <div class="row">
                    {% for news in object_list|slice:"3" %}
                        <div class="animation-scale-up col-lg-4 col-md-6"
                             style="animation-fill-mode: backwards; animation-duration: 250ms; animation-delay: 0ms;">

                            <div class="card">
                                <a href="{% url 'news_detail' news.pk %}" class="flex-center">
                                    <img class="card-img-top img-fluid m-full " src="{{ news.image.url }}"
                                         alt="Card image cap">
                                </a>
                                <div class="card-block">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% if LANGUAGE_CODE == 'ru' %}
                                        <h4 class="card-title">{{ news.title_ru }}</h4>
                                        <p class="card-text">{{ news.description_ru|slice:'200' }}</p>
                                    {% else %}
                                        <h4 class="card-title">{{ news.title }}</h4>
                                        <p class="card-text">{{ news.description|slice:'200' }}</p>
                                    {% endif %}

                                    <a href="{% url 'news_detail' news.pk %}"
                                       class="btn btn-outline-info">{% trans 'Улантуу' %}</a>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
    <!-- End Page -->
    {% if user.is_staff %}
        <script>
            // Get the modal
            var modal = document.getElementById("myModal");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];


            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            window.onload = function () {
                (function () {
                    var visited = sessionStorage.getItem('visited');
                    let user_name = sessionStorage.getItem('user_name');
                    if (!visited) {
                        document.getElementById("myModal").style.display = "block";
                        sessionStorage.setItem('visited', true);
                    }
                })();
            }

        </script>
    {% endif %}

{% endblock %}