<!DOCTYPE html>
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% if LANGUAGE_CODE == 'ru' %}
        {% block ru_title %}{% endblock %}Бай Эл
    {% else %}
        {% block title %}{% endblock %}Бай Эл
    {% endif %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="Keywords" content="{% block keywords %}{% endblock %}">
    <meta property="og:url" content="https://www.bayel.kg/"/>
    <meta property="og:image" content="{% static 'img/bayel-logo2.png' %}">


    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/bayel-logo.png' %}">
    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <!-- Animate CSS File -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- Cube Portfolio CSS File -->
    <link rel="stylesheet" href="{% static 'css/cubeportfolio.min.css' %}">
    <!-- Fancy Box CSS File -->
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/flag-icon-css/flag-icon.css' %}">
    <!-- Revolution Slider CSS Files -->
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
    <!-- Swiper CSS File -->
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <!-- Owl Carousel CSS Files -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <!-- Slick CSS Files -->
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
    <!-- Style CSS File -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Color Style CSS File -->
    <link rel="stylesheet" href="{% static 'css/orange.css' %}">
    <!-- Custom Style CSS File -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {#    media css #}
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/select2/select2.css' %}">
    {#    2gis map #}
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>

    <script type="text/javascript">
        var map;

        DG.then(function () {
            map = DG.map('map', {
                center: [42.876203, 74.612377],
                zoom: 16
            });

            DG.marker([42.876203, 74.6123773]).addTo(map).bindPopup('Бай Эл Компания!');
        });
    </script>
    <meta name="mailru-domain" content="Xh2U664w4d54m4xq"/>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="90">

<!-- Loader
<div class="loader" id="loader-fade">
    <div class="loader-container center-block">
        <div class="grid-row">
            <div class="col center-block">
                <ul class="loading reversed">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</div>
Loader ends -->

<!-- Header start -->
<header class="header-with-topbar">
    <div class="top-header-area d-xs-none bg-pink">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-am-12 d-xs-none" aria-hidden="true">
                    <a href="javascript:void(0)" class="font-14 text-white" title="Call"><i
                            class="ti ti-mobile mr-2"></i>{% trans 'Иштөө тартиби' %} 24/7: +996 (774) 555 678</a>
                    <div class="bg-light-gray d-inline-block d-xs-none position-relative mr-2 ml-2"></div>
                    <a href="javascript:void(0)" class="font-14 text-white xs-width-100" title="Mail"><i
                            class="ti ti-envelope mr-2"></i>info@bayel.kg</a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12 text-right w-265">
                    <div class="bar-social-icon">
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}">{% trans 'Чыгуу' %}</a> <a href="">|</a>
                            {% if user.is_staff or user.is_cashier %}
                                <a href="{% url 'users_list' %}">Катышуучулар</a>
                            {% else %}
                                <a href="{% url 'user_detail' user.pk %}">{% trans 'Жеке кабинет' %}</a>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'login' %}">{% trans 'Кирүү' %}</a> <a href="">|</a>
                            <a href="{% url 'signup' %}">{% trans 'Катталуу' %}</a>
                        {% endif %}
                        <form action="{% url 'set_language' %}" method="post" class="lang-nav">
                            {% csrf_token %}
                            {% get_available_languages as languages %}
                            {% for lang_code, lang_name in languages %}
                                {% language lang_code %}
                                    <button type="submit"
                                            name="language"
                                            value="{{ lang_name }}">
                                        {% if lang_code == 'ru' %}
                                            <span class="flag-icon flag-icon-ru"></span>
                                        {% else %}
                                            <span class="flag-icon flag-icon-kg"></span>
                                        {% endif %}
                                    </button>
                                {% endlanguage %}
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .topnav {
            overflow: hidden;
            background-color: #333;
            position: relative;
        }

        .menu_bars {
            display: none !important;
        }

        #myLinks {
            display: none;
            width: 85vw;
            height: 100vh;
            color: #fff;
            background-color: #844adb;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#9647DB), to(#5E57EA));
            position: absolute;
            top: 0;
            left: 0;
        }

        /* Style navigation menu links */
        #myLinks a {
            color: white;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 24px;
            display: block;
            text-align: left;
            text-transform: uppercase;
        }


        @media screen and (max-width: 950px) {
            .container {
                padding: 0;
                width: 100vw !important;
                max-width: 100vw !important;
            }

            .navbar {
                padding: 0;
            }

            .logo {
                margin-left: 30px;
            }

            .menu_bars {
                display: block !important;
            }

            #myLinks {
                width: 50vw;
            }

            #myLinks a {
                padding: 5px 16px;
                font-weight: 600;
                font-size: 13px;
            }

            .menu__list {
                margin-top: 40px;
            }
        }

        .menu_bars {
            position: fixed;
            right: 3vw;
            top: 20px;

        }

        .active {
        {#background-color: #4CAF50;#} color: white;
        }

        .change-lang {
            display: flex;
            justify-content: left;
        }

        .white-shadow {
            color: #fff !important;
            font-weight: bold !important;
            text-shadow: 2px 2px rgba(0, 0, 0, 0.75);
        }

        .left-change {
            padding-right: 0 !important;
            margin-right: 0 !important;
        }

        .right-change {
            padding-left: 8px !important;
            margin-left: 0 !important;
        }

        .nav-mobile {
            padding: 14px 16px;
        }

        .close-menu {
            width: 50vw;
            height: 100vh;
            position: absolute;
            top: 0;
            right: -50vw;
            /* left: 0; */
            float: right;
            padding-left: 50vw;
            margin-left: 1000px;
        }
    </style>
    <nav class="navbar navbar-top-default navbar-expand-lg static-nav nav-style full-nav bg-white2 no-animation">
        <div class="container">
            <a class="logo" href="{% url 'home' %}">
                <img src="{% static 'logo.png' %}" alt="" style="width:70px;">
            </a>
            <div class="collapse navbar-collapse d-none d-lg-block">
                <ul class="nav navbar-nav ml-auto menu__list">
                    <li class="nav-item menu__item"><a href="{% url 'home' %}#home"
                                                       class="nav-link menu__link">{% trans 'Башкы бет' %}</a>
                    </li>
                    <li class="nav-item menu__item"><a href="{% url 'home' %}#features"
                                                       class="scroll nav-link menu__link">{% trans 'Шарттар' %}</a>
                    </li>
                    <li class="nav-item menu__item"><a href="{% url 'home' %}#company"
                                                       class="scroll nav-link menu__link">{% trans 'Артыкчылыктар' %}</a>
                    </li>
                    <li class="nav-item menu__item"><a href="{% url 'home' %}#statistic"
                                                       class="scroll nav-link menu__link">{% trans 'Статистика' %}</a>
                    </li>
                    <li class="nav-item menu__item"><a href="{% url 'home' %}#team"
                                                       class="scroll nav-link menu__link">{% trans 'Биз жөнүндө' %}</a>
                    </li>
                    <li class="nav-item menu__item"><a href="{% url 'home' %}#blog"
                                                       class="scroll nav-link menu__link">{% trans 'Жаңылыктар' %}</a>
                    </li>
                    <li class="nav-item menu__item"><a href="{% url 'home' %}#contact"
                                                       class="scroll nav-link menu__link">{% trans 'Дарегибиз' %}</a>
                    </li>
                </ul>

            </div>
            <a class="menu_bars d-inline-block menu-bars-setting" onclick="myFunction()">
                <span></span> <span></span> <span></span> </a>
            <div id="myLinks">
                <ul class="nav navbar-nav ml-auto menu__list">
                    <li class="nav-item menu__item change-lang">
                        <form action="{% url 'set_language' %}" method="post" class="lang-nav nav-mobile">
                            {% csrf_token %}
                            {% get_available_languages as languages %}
                            {% for lang_code, lang_name in languages %}
                                {% language lang_code %}
                                    <button type="submit"
                                            name="language"
                                            value="{{ lang_name }}" class="nav-link menu__link left-change"
                                            style="display: inline-block">
                                        {% if lang_code == 'ru' %}
                                            <span class="flag-icon flag-icon-ru"></span>
                                        {% else %}
                                            <span class="flag-icon flag-icon-kg"></span>
                                        {% endif %}
                                    </button>
                                {% endlanguage %}
                            {% endfor %}
                        </form>
                    </li>
                    <li>
                        <a href="{% url 'home' %}#home"
                           class="nav-link menu__link">{% trans 'Башкы бет' %}</a>
                    </li>
                    <li class="nav-item menu__item"><a href="{% url 'home' %}#features"
                                                       class="scroll nav-link menu__link">{% trans 'Шарттар' %}</a>
                    </li>
                    <li class="nav-item menu__item"><a href="{% url 'home' %}#team"
                                                       class="scroll nav-link menu__link">{% trans 'Биз жөнүндө' %}</a>
                    </li>
                    <li class="nav-item menu__item"><a href="{% url 'home' %}#company"
                                                       class="scroll nav-link menu__link">{% trans 'Артыкчылыктар' %}</a>
                    </li>
                    <li class="nav-item menu__item"><a href="{% url 'home' %}#statistic"
                                                       class="scroll nav-link menu__link">{% trans 'Статистика' %}</a>
                    </li>
                    <li class="nav-item menu__item"><a href="{% url 'home' %}#blog"
                                                       class="scroll nav-link menu__link">{% trans 'Жаңылыктар' %}</a>
                    </li>
                    <li class="nav-item menu__item"><a href="#contact"
                                                       class="scroll nav-link menu__link">{% trans 'Дарегибиз' %}</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item menu__item"><a href="{% url 'logout' %}"
                                                           class="nav-link menu__link left-change">{% trans 'Чыгуу' %}</a>
                        </li>
                        <li class="nav-item menu__item"><a href="{% url 'user_detail' user.pk %}"
                                                           class="nav-link menu__link left-change">{% trans 'Жеке кабинет' %}</a>
                        </li>

                    {% else %}
                        <li class="nav-item menu__item"><a href="{% url 'login' %}"
                                                           class="nav-link menu__link left-change">{% trans 'Кирүү' %}</a>
                        </li>
                        <li class="nav-item menu__item"><a href="{% url 'signup' %}"
                                                           class="nav-link menu__link left-change">{% trans 'Катталуу' %}</a>
                        </li>
                    {% endif %}
                </ul>
                <div class="close-menu">

                </div>
            </div>


        </div>
    </nav>
</header>
<!-- Header end -->
<script>
    console.log("hello world");

    function myFunction() {
        let logo = document.querySelector(".logo");
        var x = document.getElementById("myLinks");
        let nav = document.querySelector(".navbar");
        if (x.style.display === "block") {
            logo.style.display = "block";
            x.style.display = "none";
            nav.style.background = "#fff"
        } else {
            logo.style.display = "none";
            x.style.display = "block";
            nav.style.background = "gray";
        }
    }

    let closeMenu = document.querySelector(".close-menu");

    let logo = document.querySelector(".logo");
    var x = document.getElementById("myLinks");
    let nav = document.querySelector(".navbar");
    let navItem = document.querySelectorAll(".nav-item");
    for (let i = 0; i < navItem.length; i++) {
        navItem[i].addEventListener("click", function () {
            logo.style.display = "block";
            x.style.display = "none";
            nav.style.background = "#fff"
        })
    }
    closeMenu.addEventListener("click", function () {
        logo.style.display = "block";
        x.style.display = "none";
        nav.style.background = "#fff"
    })
</script>
{% block content %}

{% endblock %}
<!-- Footer -->
<footer class="site-footer">
    <div class="site-footer-right">
        Создано от <a href="#">Infis.kg</a> © 2020
    </div>
</footer>
<!-- Core  -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<!-- Bootstrap JS File -->
{#<script src="{% static 'js/popper.min.js' %}"></script>#}
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Morphtext JS File -->
<script src="{% static 'js/morphext.min.js' %}"></script>
<!-- Appear JS File -->
<script src="{% static 'js/jquery.appear.js' %}"></script>
<!-- Isotop gallery -->
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<!-- Cube Portfolio JS File -->
<script src="{% static 'js/jquery.cubeportfolio.min.js' %}"></script>
<!-- Equal Height JS File -->
<script src="{% static 'js/jquery.matchHeight-min.js' %}"></script>
<!--Parallax Background-->
<script src="{% static 'js/parallaxie.min.js' %}"></script>
<!-- Fancy Box JS File -->
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<!-- Slick JS File -->
<script src="{% static 'js/slick.min.js' %}"></script>
<!-- Swiper JS File -->
<script src="{% static 'js/swiper.min.js' %}"></script>
<!-- Owl Carousel JS File -->
<script src="{% static 'js/owl.carousel.js' %}"></script>
<!-- Wow JS File -->
<script src="{% static 'js/wow.js' %}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SDNXSEVW4J"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-SDNXSEVW4J');
</script>
<!--Revolution Slider-->
<script src="{% static 'js/revolution/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'js/revolution/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'js/revolution/jquery.themepunch.revolution.contdown.min.js' %}"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="{% static 'js/revolution/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'js/revolution/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'js/revolution/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'js/revolution/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'js/revolution/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'js/revolution/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'js/revolution/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'js/revolution/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'js/revolution/extensions/revolution.extension.video.min.js' %}"></script>

<!-- WWW.NET.KG , code for http://bayel.kg -->
<script language="javascript" type="text/javascript">
    java = "1.0";
    java1 = "" + "refer=" + escape(document.referrer) + "&amp;page=" + escape(window.location.href);
    document.cookie = "astratop=1; path=/";
    java1 += "&amp;c=" + (document.cookie ? "yes" : "now");
</script>
<script language="javascript1.1" type="text/javascript">
    java = "1.1";
    java1 += "&amp;java=" + (navigator.javaEnabled() ? "yes" : "now");
</script>
<script language="javascript1.2" type="text/javascript">
    java = "1.2";
    java1 += "&amp;razresh=" + screen.width + 'x' + screen.height + "&amp;cvet=" +
        (((navigator.appName.substring(0, 3) == "Mic")) ?
            screen.colorDepth : screen.pixelDepth);
</script>
<script language="javascript1.3" type="text/javascript">java = "1.3"</script>
<script language="javascript" type="text/javascript">
    java1 += "&amp;jscript=" + java + "&amp;rand=" + Math.random();
    document.write("<a href='http://www.net.kg/stat.php?id=6759&amp;fromsite=6759' target='_blank'>" +
        "<img src='http://www.net.kg/img.php?id=6759&amp;" + java1 +
        "' border='0' alt='WWW.NET.KG' width='88' height='31' /></a>");
</script>
<noscript>
    <a href='http://www.net.kg/stat.php?id=6759&amp;fromsite=6759' target='_blank'><img
            src="http://www.net.kg/img.php?id=6759" border='0' alt='WWW.NET.KG' width='88'
            height='31'/></a>
</noscript>
<!-- /WWW.NET.KG -->


<!-- Custom JS File -->
<script src="{% static 'js/functions.js' %}"></script>
</body>
</html>


