<!DOCTYPE html>
<html class="no-js css-menubar" lang="ru">
{% load static i18n %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="Keywords" content="{% block keywords %}{% endblock %}">

    <title>{% if LANGUAGE_CODE == 'ru' %}
        {% block ru_title %}{% endblock %}Бай Эл
    {% else %}
        {% block title %}{% endblock %}Бай Эл
    {% endif %}</title>

    <link rel="icon" href="{% static 'img/bayel-logo.png' %}">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-extend.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/site.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/examples/css/pages/profile.css' %}">
    <link rel="stylesheet" href="{% static 'assets/examples/css/forms/validation.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/select2/select2.css' %}">
    <link rel="stylesheet" href="{% static 'assets/examples/css/forms/advanced.css' %}">
    <link rel="stylesheet" href="{% static 'assets/examples/css/pages/errors.css' %}">
    <!-- Plugins -->
    <link rel="stylesheet" href="{% static 'assets/vendor/animsition/animsition.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/asscrollable/asScrollable.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/switchery/switchery.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/intro-js/introjs.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/slidepanel/slidePanel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/flag-icon-css/flag-icon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/footable/footable.core.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/toolbar/toolbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/examples/css/tables/footable.css' %}">
    <link rel="stylesheet" href="{% static 'assets/examples/css/pages/forgot-password.css' %}">
    {#    media css #}
    <link rel="stylesheet" href="{% static 'css/media.css' %}">

    <!-- Fonts -->
    <link rel="stylesheet" href="{% static 'assets/fonts/web-icons/web-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/material-design/material-design.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/brand-icons/brand-icons.min.css' %}">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    <!--[if lt IE 9]>
    <script src="{% static 'assets/vendor/html5shiv/html5shiv.min.js' %}"></script>
    <![endif]-->

    <!--[if lt IE 10]>
    <script src="{% static 'assets/vendor/media-match/media.match.min.js' %}"></script>
    <script src="{% static 'assets/vendor/respond/respond.min.js' %}"></script>
    <![endif]-->

    <!-- Scripts -->
    <script src="{% static 'assets/vendor/breakpoints/breakpoints.js' %}"></script>
    <script>
        Breakpoints();
    </script>
</head>
<body class="animsition dashboard site-navbar-small ">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega navbar-inverse"
     role="navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
                data-toggle="menubar">
            <span class="sr-only">Toggle navigation</span>
            <span class="hamburger-bar"></span>
        </button>
        <a href="{% url 'home' %}">
            <img class="navbar-brand-logo navbar-brand-logo-normal hidden-xs-down"
                 src="{% static 'logo.png' %}"
                 title=" Bayel" style="width: 70px;height: auto;margin-left: 30px;top: 8px;
    position: absolute;">
        </a>
        <div class="balance-nav">{% block bal %} {% endblock %}</div>
    </div>

    <div class="navbar-container container-fluid">
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
            <!-- Navbar Toolbar -->
            <ul class="nav navbar-toolbar">
                {% if not user.is_staff %}
                    <li class="nav-item" id="toggleFullscreen">
                        <a class="nav-link" href="https://chat.whatsapp.com/HaAZTzB6L3eB78XZk6R8QS">
                            <img src="{% static 'img/whatsapp.png' %}" alt="" style="width:20px">
                        </a>
                    </li>
                    <li class="nav-item" id="toggleFullscreen">
                        <a class="nav-link" href="https://t.me/joinchat/UaMjOCSpK9nqKB2i">
                            <img src="{% static 'img/telegram.png' %}" alt="" style="width:20px">
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item" id="toggleFullscreen">
                    <a class="nav-link" href="{% url 'home' %}">
                        <i class="site-menu-icon wb-home" aria-hidden="true"></i>
                        <span class="site-menu-title">{% trans 'Башкы бет' %}</span>
                    </a>
                </li>
                <li class="nav-item" id="toggleFullscreen">
                    <a class="nav-link {% if request.resolver_match.url_name == 'news_list' %} active {% endif %}"
                       href="{% url 'news_list' %}">
                        <i class="site-menu-icon icon fa-newspaper-o" aria-hidden="true"></i>
                        <span class="site-menu-title">{% trans "Жаңылыктар" %}</span>
                    </a>
                </li>
                <li class="nav-item" id="toggleFullscreen">
                    <a class="nav-link" href="{% url 'resource' %}">
                        <i class="site-menu-icon icon fa-newspaper-o" aria-hidden="true"></i>
                        <span class="site-menu-title">{% trans 'Ресурстар' %}</span>
                    </a>
                </li>

                {% if user.is_staff or user.is_cashier %}
                    <li class="nav-item" id="toggleFullscreen">
                        <a class="nav-link {% if request.resolver_match.url_name == 'users_list' %} active {% endif %}"
                           href="{% url 'users_list' %}">
                            <i class="site-menu-icon wb-users" aria-hidden="true"></i>
                            <span class="site-menu-title">Участники</span>
                        </a>
                    </li>
                    <li class="nav-item" id="toggleFullscreen">
                        <a class="nav-link {% if request.resolver_match.url_name == 'users_wait' %} active {% endif %}"
                           href="{% url 'users_wait' %}">
                            <i class="site-menu-icon wb-users" aria-hidden="true"></i>
                            <span class="site-menu-title">Ожидающие</span>
                        </a>
                    </li>
                    <li class="nav-item" id="toggleFullscreen">
                        <a class="nav-link {% if request.resolver_match.url_name == 'report' %} active {% endif %}"
                           href="{% url 'report' %}">
                            <i class="site-menu-icon wb-calendar" aria-hidden="true"></i>
                            <span class="site-menu-title">Отчёт</span>
                        </a>
                    </li>
                    <li class="nav-item" id="toggleFullscreen">
                        <a class="nav-link " href="{% url 'signup' %}">
                            <i class="site-menu-icon wb-user-add" aria-hidden="true"></i>
                            <span class="site-menu-title">{% trans 'Катталуу' %}</span>
                        </a>
                    </li>

                {% else %}
                    <li class="nav-item" id="toggleFullscreen">
                        <a class="nav-link {% if request.resolver_match.url_name == 'user_matrix' %} active {% endif %}"
                           href="{% url 'user_matrix' user.pk %}">
                            <i class="site-menu-icon icon fa-tasks" aria-hidden="true"></i>
                            <span class="site-menu-title">{% trans "Матрица" %}</span>
                        </a>
                    </li>
                    <li class="nav-item" id="toggleFullscreen">
                        <a class="nav-link {% if request.resolver_match.url_name == 'user_detail' %} active {% endif %}"
                           href="{% url 'user_detail' user.pk %}">
                            <i class="site-menu-icon wb-user" aria-hidden="true"></i>
                            Профиль</a>
                    </li>

                {% endif %}
                {% if user.is_superuser %}
                    <li class="nav-item" id="toggleFullscreen">
                        <a class="nav-link"
                           href="{% url 'export_xlwt' %}">
                            <i class="site-menu-icon wb-upload" aria-hidden="true"></i>
                            Экспорт Базы</a>
                    </li>
                {% endif %}

                <li class="nav-item" id="toggleFullscreen">
                    <a class="nav-link" href="{% url 'logout' %}" role="menuitem"><i class="icon wb-close"
                                                                                     aria-hidden="true"></i> {% trans 'Чыгуу' %}
                    </a>
                </li>
            </ul>
            <!-- End Navbar Toolbar -->

            <!-- Navbar Toolbar Right -->
            <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right rignt-ul">

                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    {% get_available_languages as languages %}
                    {% for lang_code, lang_name in languages %}
                        {% language lang_code %}
                            <li class="nav-item lang-pad">
                                <button type="submit"
                                        name="language"
                                        value="{{ lang_name }}"
                                        class="nav-link lang">
                                    {% if lang_code == 'ru' %}
                                        <span class="flag-icon flag-icon-ru"></span>
                                    {% else %}
                                        <span class="flag-icon flag-icon-kg"></span>
                                    {% endif %}
                                </button>
                            </li>
                        {% endlanguage %}
                    {% endfor %}
                </form>


            </ul>
            <!-- End Navbar Toolbar Right -->
        </div>
        <!-- End Navbar Collapse -->
    </div>
</nav>
<div class="site-menubar site-menubar-light d-md-none d-lg-none d-xl-none">
    <div class="site-menubar-body">
        <div>
            <div>
                <ul class="site-menu" data-plugin="menu">

                    {% if not user.is_staff %}
                        <li class="nav-item" id="toggleFullscreen"
                            style="margin-top: 3vh">{% trans "Группага Кирүү" %}</li>
                        <li class="nav-item" id="toggleFullscreen" style="margin-bottom: 3vh">
                            <a href="https://chat.whatsapp.com/HaAZTzB6L3eB78XZk6R8QS">
                                <img src="{% static 'img/whatsapp.png' %}" alt="" style="width:35px;">
                            </a>
                            <a href="https://t.me/joinchat/UaMjOCSpK9nqKB2i">
                                <img src="{% static 'img/telegram.png' %}" alt="" style="width:35px;">
                            </a>
                            <a href="https://www.instagram.com/bayel.kgz/">
                                <img src="{% static 'img/instagram.png' %}" alt="" style="width:35px;">
                            </a>
                            <span style="margin: 0 10px"></span>
                            <form action="{% url 'set_language' %}" method="post" style="display: inline-block">
                                {% csrf_token %}
                                {% get_available_languages as languages %}
                                {% for lang_code, lang_name in languages %}
                                    {% language lang_code %}

                                        <button type="submit"
                                                name="language"
                                                value="{{ lang_name }}"
                                                class="nav-link lang" style="display: inline-block">
                                            {% if lang_code == 'ru' %}
                                                <span class="flag-icon flag-icon-ru"></span>
                                            {% else %}
                                                <span class="flag-icon flag-icon-kg"></span>
                                            {% endif %}
                                        </button>

                                    {% endlanguage %}

                                {% endfor %}
                            </form>
                        </li>
                    {% endif %}
                    <li class="nav-item" id="toggleFullscreen">
                        <a class="nav-link" href="{% url 'home' %}">
                            <i class="site-menu-icon wb-home" aria-hidden="true"></i>
                            <span class="site-menu-title">{% trans "Башкы бет" %}</span>
                        </a>
                    </li>
                    <li class="nav-item" id="toggleFullscreen">
                        <a class="nav-link" href="{% url 'news_list' %}">
                            <i class="site-menu-icon icon fa-newspaper-o" aria-hidden="true"></i>
                            <span class="site-menu-title">{% trans "Жаңылыктар" %}</span>
                        </a>
                    </li>
                    <li class="nav-item" id="toggleFullscreen">
                        <a class="nav-link" href="{% url 'resource' %}">
                            <i class="site-menu-icon icon fa-newspaper-o" aria-hidden="true"></i>
                            <span class="site-menu-title">{% trans 'Ресурстар' %}</span>
                        </a>
                    </li>
                    {% if not user.is_staff %}
                        <li class="nav-item" id="toggleFullscreen">
                            <a class="nav-link" href="{% url 'user_matrix' user.pk %}">
                                <i class="site-menu-icon icon fa-tasks" aria-hidden="true"></i>
                                <span class="site-menu-title">{% trans "Матрица" %}</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if user.is_staff or user.is_cashier %}
                        <li class="nav-item" id="toggleFullscreen">
                            <a class="nav-link" href="{% url 'users_list' %}">
                                <i class="site-menu-icon wb-users" aria-hidden="true"></i>
                                <span class="site-menu-title">Участники</span>
                            </a>
                        </li>
                        <li class="nav-item" id="toggleFullscreen">
                            <a class="nav-link" href="{% url 'users_wait' %}">
                                <i class="site-menu-icon wb-users" aria-hidden="true"></i>
                                <span class="site-menu-title">Ожидающие</span>
                            </a>
                        </li>
                        <li class="nav-item" id="toggleFullscreen">
                            <a class="nav-link" href="{% url 'report' %}">
                                <i class="site-menu-icon wb-user-add" aria-hidden="true"></i>
                                <span class="site-menu-title">Отчет</span>
                            </a>
                        </li>
                        <li class="nav-item" id="toggleFullscreen">
                            <a class="nav-link" href="{% url 'signup' %}">
                                <i class="site-menu-icon wb-user-add" aria-hidden="true"></i>
                                <span class="site-menu-title">{% trans "Катталуу" %}</span>
                            </a>
                        </li>
                    {% endif %}

                    <li class="nav-item" id="toggleFullscreen">
                        <a class="nav-link" href="{% url 'user_detail' user.pk %}">
                            <i class="site-menu-icon wb-user" aria-hidden="true"></i>
                            <span class="site-menu-title">{% trans "Профиль" %}</span>
                        </a>
                    </li>
                    <li class="nav-item" id="toggleFullscreen">
                        <a class="nav-link" href="{% url 'logout' %}">
                            <i class="site-menu-icon wb-close" aria-hidden="true"></i>
                            <span class="site-menu-title">{% trans 'Чыгуу' %}</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

{% block content %}

{% endblock %}
<!-- Footer -->
<footer class="site-footer">
    <div class="site-footer-legal">© {% now 'Y' %}</div>
    {% if request.resolver_match.url_name == 'user_matrix' %}
        <p style="position: relative; bottom: 1vh; left: 2vh;">
            <button id="zoomToFit" class="btn btn-primary">В весь экран</button>
            <button id="centerRoot" class="btn btn-primary">К центру Таблицы</button>
        </p>
    {% endif %}
    <div class="site-footer-right">
        Создано с <i class="red-600 wb wb-heart"></i> от <a href="#">Infis Studio</a>
    </div>
</footer>
<!-- Core  -->
<script src="{% static 'assets/vendor/babel-external-helpers/babel-external-helpers.js' %}"></script>
<script src="{% static 'assets/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'assets/vendor/popper-js/umd/popper.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/bootstrap.js' %}"></script>
<script src="{% static 'assets/vendor/animsition/animsition.js' %}"></script>
<script src="{% static 'assets/vendor/mousewheel/jquery.mousewheel.js' %}"></script>
<script src="{% static 'assets/vendor/asscrollbar/jquery-asScrollbar.js' %}"></script>
<script src="{% static 'assets/vendor/asscrollable/jquery-asScrollable.js' %}"></script>

<!-- Plugins -->
<script src="{% static 'assets/vendor/switchery/switchery.js' %}"></script>
<script src="{% static 'assets/vendor/intro-js/intro.js' %}"></script>
<script src="{% static 'assets/vendor/screenfull/screenfull.js' %}"></script>
<script src="{% static 'assets/vendor/slidepanel/jquery-slidePanel.js' %}"></script>
<script src="{% static 'assets/vendor/moment/moment.min.js' %}"></script>
<script src="{% static 'assets/vendor/footable/footable.min.js' %}"></script>
<script src="{% static 'assets/vendor/toolbar/jquery.toolbar.js' %}"></script>


<!-- Scripts -->
<script src="{% static 'assets/js/Component.js' %}"></script>
<script src="{% static 'assets/js/Plugin.js' %}"></script>
<script src="{% static 'assets/js/Base.js' %}"></script>
<script src="{% static 'assets/js/Config.js' %}"></script>
<script src="{% static 'assets/js/Section/Menubar.js' %}"></script>
<script src="{% static 'assets/js/Section/Sidebar.js' %}"></script>
<script src="{% static 'assets/js/Section/PageAside.js' %}"></script>
<script src="{% static 'assets/js/Plugin/menu.js' %}"></script>

<!-- Config -->
<script src="{% static 'assets/js/config/colors.js' %}"></script>
<script src="{% static 'assets/js/config/tour.js' %}"></script>
<script>Config.set('assets', '../../assets');</script>

<!-- Page -->
<script src="{% static 'assets/js/Site.js' %}"></script>
<script src="{% static 'assets/js/Plugin/asscrollable.js' %}"></script>
<script src="{% static 'assets/js/Plugin/slidepanel.js' %}"></script>
<script src="{% static 'assets/js/Plugin/switchery.js' %}"></script>
<script src="{% static 'assets/js/Plugin/matchheight.js' %}"></script>
<script src="{% static 'assets/js/Plugin/peity.js' %}"></script>

<script src="{% static 'assets/examples/js/tables/footable.js' %}"></script>
<script src="{% static 'assets/vendor/select2/select2.full.min.js' %}"></script>
<script src="{% static 'assets/examples/js/forms/advanced.js' %}"></script>
<script src="{% static 'assets/js/Plugin/toolbar.js' %}"></script>


{% block javascript %}

{% endblock %}


</body>
</html>