<div class="pagination">
                                <span class="step-links">
                                    {% if page.has_previous %}
                                        <a class="page-prev" href="?page={{ page.previous_page_number }}">Prev</a>
                                    {% endif %}
                                    <span class="current page-current">
                                            {{ page.number }} из {{ page.paginator.num_pages }}
                                    </span>
                                    {% if page.has_next %}
                                        <a class="page-next" href="?page={{ page.next_page_number }}">Next</a>
                                    {% endif %}
                                </span>
</div>