{% extends 'manager_base.html' %}
{% load static i18n l10n %}
{% block content %}
    <!-- Page -->
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">{% trans "Колдонуучулардын тизмеси" %}%}</h1>
        </div>
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <!-- Panel Filtering rows -->
                    <div class="panel">
                        <header class="panel-heading">
                            <h3 class="panel-title">{% trans "Колдонуучулардын тизмеси" %}</h3>
                        </header>
                        <div class="panel-body">
                            <form action="{% url 'search_results' %}" method="get">
                                <input name="q" type="text" value="{{ search_input }}"
                                       class="form-control search-input-list">
                                <a href="{% url 'users_list' %}"
                                   class="btn btn-outline-primary search-button-list"><</a>
                            </form>
                             <table class="table table-bordered table-hover toggle-circle">
                                <thead>
                                <tr>
                                    <th data-name="id" data-type="number" data-breakpoints="xs">№</th>
                                    <th data-name="firstName">{% trans "Логин" %}</th>
                                    <th data-name="something">{% trans "ФИО" %}</th>
                                    <th data-name="something">Регион</th>
                                    <th data-name="something">Белги</th>
                                    <th data-name="jobTitle" data-breakpoints="xs sm">{% trans "Телефон" %}</th>
                                    <th data-name="firstName" class="balls-cell">Баллы</th>
                                    <th data-name="firstName" class="product-cell" width="5%">Продукция</th>
                                    <th data-name="firstName" class="product-cell" width="5%">Статус</th>
                                    <th data-name="firstName" class="by-whom-cell">{% trans "ФИО Спонсора" %}</th>
                                    {% if user.is_cashier or user.is_staff %}
                                        <th data-name="lastName" class="management-cell">{% trans "Управление" %}</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for list in object_list %}
                                    <tr>
                                        <td class="counterCell"></td>
                                        <td style="text-align: left"><a style="text-decoration: none"
                                                                        href="{% url 'user_detail' list.pk %}">{{ list.username }}</a>
                                        </td>
                                        <td>{{ list.user_fullname }}</td>
                                        <td>{{ list.user_office }}</td>
                                        <td>{% if list.user_notes != None %}{{ list.user_notes }}{% else %}
                                            Жок{% endif %}</td>
                                        <td>{{ list.user_phone }}</td>
                                        <td>{{ list.user_balance }} </td>
                                        <td>{% if list.product %}
                                            <img src="{% static 'img/icons/icon-yes.svg' %}">{% else %}
                                            <img src="{% static 'img/icons/icon-no.svg' %}"> {% endif %}
                                        </td>
                                        <td>{% if list.status %}
                                            <img src="{% static 'img/icons/icon-yes.svg' %}">{% else %}
                                            <img src="{% static 'img/icons/icon-no.svg' %}"> {% endif %}
                                        </td>
                                        <td>
                                            {% if list.user_by_whom_id %}
                                                <a href="{% url 'user_detail' list.user_by_whom_id %}"
                                                   style="text-decoration: none">{{ list.user_by_whom }}</a>
                                                {% if list.user_by_whom.status %}|
                                                    <a href="{% url 'user_matrix' list.user_by_whom_id %}"
                                                       style="text-decoration: none">7500</a>
                                                {% endif %}
                                            {% else %}
                                                {% trans 'Спонсору жок' %}
                                            {% endif %}
                                        </td>
                                        {% if user.is_superuser %}
                                            <td>
                                                <a href="{% url 'user_detail' list.pk %}"
                                                   style="background:#00b6ff94; color:#fff; font-weight:700; font-size:13px; padding:4px 12px; border-radius: 6px;"><i
                                                        class="icon  wb-user"></i></a>
                                                <a href="{% url 'user_update' pk=list.pk oper=user.id %}?next={% url 'users_list' %}"
                                                   style="background:green; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px; margin-left:1px;">
                                                    <i class="icon  wb-settings"></i></a>
                                                {% if list.status is False %}
                                                    <a href="{% url 'user_delete' list.pk %}?next={{ request.path|urlencode }}"
                                                       style="background:red; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px;"><i
                                                            class="icon wb-trash"></i></a>
                                                {% endif %}
                                            </td>
                                        {% elif user.is_cashier or user.is_staff %}
                                            <td>
                                                <a href="{% url 'belgi_update' pk=list.pk oper=user.id %}?next={{ request.path|urlencode }}"
                                                   style="background: #1bc5ce; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px; margin-left:1px;">
                                                    <i class="icon  wb-settings"></i></a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {#                            {% include 'paginator.html' with page=page_obj %}#}

                        </div>
                    </div>
                    <!-- End Panel Filtering -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Page -->
{% endblock %}