{% extends 'manager_base.html' %}
{% load static i18n crispy_forms_tags %}
{% block content %}

    <!-- Features start -->
    <section id="page">

    <div class="page-header">
        </div>
        <div class="container mb-70">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-title wow fadeIn" data-wow-delay="300ms">
                        <h2 class="white">Выдать "{{ user_info.username }}" - {{ user_info.user_fullname }}?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4 class="white">Доступно для снятия: {{ user_info.user_balance13 }} б.</h4>
                    <form class="white" action="" method="post" novalidate="novalidate">
                        {% csrf_token %}
                        {{ form.history_amount13|as_crispy_field }}
                        {{ form.history_remark13|as_crispy_field }}
                        <div class="btn-signup">
                            <button type="submit" class="btn btn-success signup-btn">{% trans 'Сактоо' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Features ends -->

{% endblock %}