{% extends 'manager_base.html' %}
{% block content %}
    <!-- Features start -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-title wow fadeIn" data-wow-delay="300ms">
                        <h2>Вы действительно хотите удалить запись {{ object.history_amount13 }}? </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <form action="" method="post" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="btn-signup">
                            <button type="submit" class="btn btn-outline-danger signup-btn">Удалить</button>
                            <a href="{% url 'users_list' %}" class="btn btn-outline-success signup-btn">Нет</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Features ends -->
{% endblock %}