{% extends 'manager_base.html' %}
{% load i18n l10n %}
{% block content %}
    <!-- Page -->
    <div class="page">
        <div class="page-header">
            <h1 class="page-title"></h1>
        </div>
        <div class="page-content container-fluid">

            <div class="row">
                <div class="col-xl-12">
                    <!-- Panel Filtering rows -->
                    <div class="panel balance-history">
                        <header class="panel-heading" style="display: flex; justify-content: space-between">
                            <div class="title-first" style="display: flex">
                                <h2 class="panel-title">Сегодня получили</h2>
                                <span class="panel-title title-counters"><a
                                        class="history-print"
                                        href="
                                            {% if user_office_context and user_info %}
                                            {% url 'today_money_office_user' pk=user_office_context.office_name search=search_input %}
                                            {% elif user_office_context %}
                                            {% url 'today_money_office' pk=user_office_context.office_name %}
                                            {% elif user_info %}
                                            {% url 'user_bal_export' pk=search_input %}
                                            {% else %}
                                            {% url 'today_money' %}
                                            {% endif %}">Распечатать историю</a>
                                </span>
                            </div>

                            <div class="title-second">
                                <span class="panel-title-second">
                                    <form action="{% url 'search_history' %}"
                                          method="get">
                                        <input name="query" type="text" placeholder="Поиск"
                                               class="form-control inline-block width-30"
                                               width="300px !important" value="{{ search_input }}">

                                        <select name="user_office" class="form-control my-form inline-block width-30"
                                                id="id_user_office">
                                        {% if user_office_context %}
                                            <option value="{{ user_office_context.office_name }}"
                                                    selected="">{{ user_office_context.office_name }}</option>
                                        {% else %}
                                            <option value="" selected="">Регион</option>
                                        {% endif %}
                                            <option value="">Все</option>
                                            {% for office in all_offices %}
                                                <option value="{{ office.office_name }}">{{ office.office_name }}</option>
                                            {% endfor %}
                                    </select>
                                    <button type="submit" class="btn btn-primary inline-block"
                                            style="margin-left: 10px; width: 16%;">Поиск
                                    </button>
                                    </form>
                                </span>
                            </div>
                        </header>

                        <div class="panel-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>№</th>
                                    <th data-name="firstName">Логин</th>
                                    <th data-name="something">Дата получения</th>
                                    <th data-name="something">Офис пользователя</th>
                                    <th class="text-center" data-name="firstName">Сумма</th>
                                    <th class="text-center" data-name="firstName">Кошелек</th>
                                    <th data-name="firstName">Ремарка</th>
                                    <th data-name="something">Оператор</th>
                                    {% if user.is_superuser %}
                                        <th></th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for info in object_list %}
                                    <tr>
                                        <td class="counterCell"></td>
                                        <td>{% if info.history_username %}
                                            <a href="{% url 'user_detail' info.history_user_id %}"
                                               style="text-decoration: none">
                                                {{ info.history_username }}</a>
                                        {% else %}
                                            <a href="{% url 'user_detail' info.history_user_id13 %}"
                                               style="text-decoration: none">
                                                {{ info.history_username13 }}</a>
                                        {% endif %}
                                        </td>
                                        <td>{{ info.history_date|date:'d-m-Y H:i' }}</td>
                                        <td>{% if info.history_office %}{{ info.history_office }}{% else %}
                                            {{ info.history_office13 }}{% endif %}</td>
                                        <td class="text-center">{% if info.history_amount %}{{ info.history_amount }}{% else %}
                                            {{ info.history_amount13 }}{% endif %}</td>
                                        <td class="text-center">{% if info.history_amount %}
                                            <span class="badge-lg badge-success" style="padding: 5px;
                                                border-radius: 5px; font-size:14px">7600</span>
                                        {% elif info.history_amount13 %}
                                            <span class="badge-lg badge-info" style="padding: 5px;
                                                border-radius: 5px; font-size:14px">13000</span>
                                        {% endif %}</td>
                                        <td>{% if info.history_remark %}{{ info.history_remark }}{% else %}
                                            {{ info.history_remark13 }}{% endif %}</td>
                                        <td>{% if info.history_operator %}{{ info.history_operator }}{% else %}
                                            {{ info.history_operator13 }}{% endif %}</td>
                                        {% if user.is_superuser %}
                                            <td>
                                                <a href="{% url 'history_delete' info.pk %}?next={{ request.path|urlencode }}"
                                                   style="background:red; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px;"><i
                                                        class="icon wb-trash"></i></a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% include 'paginator.html' with page=page_obj %}
                        </div>
                    </div>
                    <!-- End Panel Filtering -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Page -->

{% endblock %}