{% extends 'manager_base.html' %}
{% load i18n l10n %}
{% block content %}
    <!-- Page -->
    <div class="page">
        <div class="page-header">
            <h1 class="page-title"></h1>
        </div>
        <div class="page-content container-fluid">

            <div class="row">
                <div class="col-xl-12">
                    <!-- Panel Filtering rows -->
                    <div class="panel balance-history">
                        <header class="panel-heading">
                            <h3 class="panel-title">{% trans "Каржынын тарыхы" %} {{ user_in.user_fullname }}</h3>
                            {% if user.is_superuser %}
                                <a href="{% url 'export_balance13' user_his=user_in.id %}"
                                   class="btn btn-outline-primary"
                                   style="margin: 0 0 10px 30px; font-weight: 500; text-transform: uppercase">
                                    Скачать список
                                </a>
                            {% endif %}
                        </header>

                        <div class="panel-body">
                            <table class="table table-bordered table-hover toggle-circle" id="exampleFootableFiltering"
                                   data-paging="true" data-filtering="true" data-sorting="true">
                                <thead>
                                <tr>
                                    <th>№</th>
                                    <th data-name="something" data-visible="true"
                                        data-filterable="false">{% trans "Алган күнү" %}</th>
                                    <th data-name="firstName">{% trans "Сумма" %}</th>
                                    <th data-name="firstName">{% trans "билдирүү" %}</th>
                                    {% if user.is_superuser %}
                                        <th></th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for info in object_list %}
                                    <tr>
                                        <td class="counterCell"></td>
                                        <td>{{ info.history_date }}</td>
                                        <td>{{ info.history_amount13 }}</td>
                                        <td>{{ info.history_remark13 }}</td>
                                        {% if user.is_superuser %}
                                            <td>
                                                <a href="{% url 'history13_delete' info.pk %}?next={{ request.path|urlencode }}"
                                                   style="background:red; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px;"><i
                                                        class="icon wb-trash"></i></a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End Panel Filtering -->
                </div>

            </div>
        </div>
    </div>
    <!-- End Page -->

{% endblock %}