{% extends 'manager_base.html' %}
{% load static i18n %}
{% block content %}

    <!-- Features start -->
    <section class="page">
        <div class="page-header">
        </div>
        <div class="container mb-70">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-title wow fadeIn" data-wow-delay="300ms">
                        <h2 class="white">Выдать "{{ user_info.username }}" - {{ user_info.user_fullname }}?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <style>
                    label[for="id_history_amount"], label[for="id_history_remark"] {
                        color: #fff
                    }
                </style>
                <div class="col-md-6">
                    <h4 class="white">Заработанно в общем: {{ new_balance.user_total }} б.</h4>
                    {% if not user_info.user_second_status %}
                        <h4 class="white">Заблокированные для перехода на третий уровень: {{ new_balance.user_frozen }}
                            б.</h4>
                    {% endif %}
                    <h4 class="white">Доступно для снятия: {{ new_balance.user_balance }} б.</h4>
                    <form action="" method="post" novalidate="novalidate">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="btn-signup">
                            <button type="submit"
                                    class="btn btn-success signup-btn">{% trans 'Сактоо' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Features ends -->

{% endblock %}