{% extends 'manager_base.html' %}
{% load i18n %}
{% block content %}
    <!-- Features start -->
    <section id="features" style="padding: 1rem 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-title wow fadeIn" data-wow-delay="300ms">
                        <h2> {{ object.username }}</h2>
                    </div>
                </div>
            </div>
            <div class="row mb-70">
                <div class="col-md-6">
                    <form action="" class="user-update-form" enctype="multipart/form-data" method="post"
                          novalidate="novalidate" id="myForm">
                        {% csrf_token %}


                        <p><label for="id_user_notes">Белги:</label>
                            <input type="text" name="user_notes"
                                   value="{% if object.user_notes != None %}{{ object.user_notes }}{% endif %}" maxlength="150"
                                   required=""
                                   id="id_user_notes"></p>


                        <p><label for="id_product">Продукция:</label>
                            <input type="checkbox" name="product" id="id_product" {% if object.product %}
                                   checked=""{% endif %}>


                        <div class="btn-signup">
                            <button type="submit" class="btn btn-outline-success signup-btn">Сактоо</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Features ends -->


{% endblock %}