{% extends 'manager_base.html' %}
{% load static i18n l10n %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/table-matrix.css' %}">

<div class="main">
    <div class="table-block">
        <table class="table table-bordered toggle-circle table-list-matrix"> 
        <thead> 
            <tr>
                <th class='text-center title' colspan='3'>Структура</th>
            </tr>
            <tr>
                <th class='text-center' width='10%'>Позиция</th>
                <th>ФИО</th>
                <th>Кимден</th>
            </tr>
            </thead>              
            {% for item in data %}
                {% if item.key != 0.0 %}
                    <tr>
                        {% if item.tens != 'null' %}
                        <th class='text-center'>{{item.tens}}</th>
                        {% else %}
                        <th class='text-center'>{{item.key}}</th>
                        {% endif %}
                        <th>{{item.title}} - ({{item.name}})</th>
                        <th>{{item.parent}}</th>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
</div>
    
{% endblock %}
