{% extends 'manager_base.html' %}
{% load static i18n l10n %}
{% block content %}
    <!-- Page -->
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">{% trans "Колдонуучулардын тизмеси" %}</h1>
        </div>
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-title wow fadeIn" data-wow-delay="300ms">
                        <h2 style="-webkit-text-fill-color: #fff">Создание Офиса</h2>
                    </div>
                </div>
            </div>
            <div class="row mb-70">
                <div class="col-md-6">
                    <form action="" class="user-update-form" method="post" novalidate="novalidate"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>{{ form.office_name }}</p>
                        <div class="btn-signup">
                            <button type="submit"
                                    class="btn btn-success signup-btn">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Features ends -->
{% endblock %}