{% extends 'manager_base.html' %}
{% load static i18n l10n %}
{% block content %}
    <!-- Page -->
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">{% trans "Колдонуучулардын тизмеси" %}</h1>
        </div>
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <!-- Panel Filtering rows -->
                    <div class="panel">
                        <div class="row pl-4 pr-4 pt-4">
                            <div class="col-md-3">
                                <!-- Card -->
                                <a href="{% url 'office_create' %}">
                                    <div class="card mb-0 p-10 bg-green-600" >
                                        <span style="-webkit-text-fill-color: #fff; font-weight: 400; text-transform: uppercase;">Создать офис</span>
                                    </div>
                                </a>
                                <!-- End Card -->
                            </div>
                        </div>
                        <div class="panel-body">
                            <h5></h5>
                            <table class="table table-bordered table-hover toggle-circle">
                                <thead>
                                <tr>
                                    <th data-name="id" data-type="number" data-breakpoints="xs" width="3%">№</th>
                                    <th data-name="firstName">{% trans "Логин" %}</th>
                                    <th data-name="lastName" class="management-cell"
                                        width="10%">{% trans "Управление" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for office in object_list %}
                                    <tr>
                                        <td class="counterCell"></td>
                                        <td>{{ office.office_name }}</td>
                                        <td>
                                            <a href="{% url 'office_update' office.pk %}"
                                               style="background:green; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px; margin-left:1px;">
                                                <i class="icon  wb-settings"></i></a>
                                            <a href="{% url 'office_delete' office.pk %}"
                                               style="background:red; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px;"><i
                                                    class="icon wb-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {#                            {% include 'paginator.html' with page=page_obj %}#}

                        </div>
                    </div>
                    <!-- End Panel Filtering -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Page -->
{% endblock %}