{% extends 'manager_base.html' %}
{% block content %}
    <!-- Page -->
    <div class="page">
        <div class="page-header">
            <h1 class="page-title"></h1>
        </div>
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-title wow fadeIn" data-wow-delay="300ms">
                        <h2 style="-webkit-text-fill-color: #fff">Вы действительно хотите удалить офис {{ object.office_name }}? </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <form action="" method="post" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="btn-signup" style="margin-top: 5vh">
                            <button type="submit" class="btn btn-danger signup-btn">Удалить</button>
                            <a href="{% url 'offices_list' %}" class="btn btn-success signup-btn">Нет</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Features ends -->
{% endblock %}