{% extends 'manager_base.html' %}
{% load static i18n %}
{% block content %}
    <div class="container mt-40">
        <h3>{% trans 'Колдонуучу дайындарын өзгөртүү' %}</h3>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="id_user_passport">{% trans 'Паспорттун сүрөтү' %}:
            </label> {% trans 'Азыркы учурда' %}:
            <a href="{{ object.user_passport.url }}">{{ object.user_passport }}</a>
            {% trans 'өзгөртүү' %}:
            <input type="file" name="user_passport" class="form-control" accept="image/*"
                   id="id_user_passport">

            <label for="id_user_image" class="mt-15">{% trans 'Колдонуучунун сүрөтү' %}:
            </label> {% trans 'Азыркы учурда' %}:
            <a href="{{ object.user_image.url }}">{{ object.user_image }}</a>
            {% trans 'өзгөртүү' %}:
            <input type="file" name="user_image" accept="image/*" id="id_user_image" class="form-control">

            <label for="id_user_fullname" class="mt-15">{% trans 'Аты Жөнү' %}:</label>
            <input type="text" value="{{ object.user_fullname }}" name="user_fullname" id="id_user_fullname"
                   class="form-control">

            <label for="id_user_phone" class="mt-15">{% trans 'Телефон номери' %}:</label>
            <input type="text" value="{{ object.user_phone }}" name="user_phone" id="id_user_phone"
                   class="form-control">

            <button type="submit" class="btn btn-success mt-10">{% trans 'Өзгөртүү' %}</button>
        </form>
    </div>

{% endblock %}