{% extends 'manager_base.html' %}
{% load static i18n l10n %}
{% block content %}
    <!-- Page -->
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">Список на получение подарков</h1>
        </div>
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <!-- Panel Filtering rows -->
                    <div class="panel">
                        <header class="panel-heading" style="display: flex">
                            <h3 class="panel-title">Список на выдачу подарков</h3>
                        </header>
                        <div class="panel-body">
                            <form action="{% url 'search_results' %}" method="get">
                                <input name="q" type="text" placeholder="Поиск" class="form-control search-input-list1" width="300px !important">
                            </form>
                            <table class="table table-bordered table-hover toggle-circle">
                                <thead>
                                <tr>
                                    <th data-name="id" data-type="number" data-breakpoints="xs">№</th>
                                    <th data-name="firstName">Логин</th>
                                    <th data-name="something">ФИО</th>
                                    <th data-name="something">Ремарка</th>
                                    <th data-name="jobTitle" data-breakpoints="xs sm">Подарок 3 уровень</th>
                                    <th data-name="firstName" class="product-cell">Подарок 5 уровень</th>
                                    <th data-name="lastName" class="management-cell">Управление</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for list in object_list %}
                                    <tr>
                                        <td  class="counterCell"></td>
                                        <td style="text-align: left"><a style="text-decoration: none" href="{% url 'user_detail' list.pk %}">{{ list.username }}</a>
                                        </td>
                                        <td>{{ list.user_fullname }}</td>
                                        <td>{% if list.notes != None %}{{ list.notes }}{% endif %}</td>
                                       
                                        <td>{% if list.present_line_3 %} <img src="{% static 'img/icons/icon-yes.svg' %}"> {{ list.present_date_3 }}{% else %} <img src="{% static 'img/icons/icon-no.svg' %}"> {% endif %}</td>
                                        <td> 
                                            {% if list.present_line_5 %} <img src="{% static 'img/icons/icon-yes.svg' %}">  {{ list.present_date_5 }}{% else %} <img src="{% static 'img/icons/icon-no.svg' %}"> {% endif %} </td>
                                       
                                      
                                        <td>
                                        <a href="{% url 'belgi_update' list.pk %}?next={{ request.path|urlencode }}"
                                                   style="background: #1bc5ce; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px; margin-left:1px;">
                                                    <i class="icon  wb-settings"></i></a>
                                                </td>
                                        
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% include 'paginator.html' with page=page_obj %}

                        </div>
                    </div>
                    <!-- End Panel Filtering -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Page -->
{% endblock %}