{% extends 'manager_base.html' %}
{% load static i18n l10n %}
{% block content %}
    <!-- Page -->
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">{% trans "Колдонуучулардын тизмеси" %}</h1>
        </div>
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <!-- Panel Filtering rows -->
                    <div class="panel">
                        <div class="row pl-4 pr-4 pt-4">
                            <div class="col-md-2">
                                <!-- Card -->
                                <a href="{% url 'users_today' %}">
                                    <div class="card card-block mb-0 p-30 bg-green-600">
                                        <div class="card-watermark darker font-size-80 m-15"><i
                                                class="icon md-accounts-add cc_cursor" aria-hidden="true"></i></div>
                                        <div class="counter counter-md counter-inverse text-left">
                                            <div class="counter-number-group">
                                                <span class="counter-number-related text-capitalize cc_cursor"
                                                      style="font-size: 18px;">Новые</span>
                                                <span class="counter-number"
                                                      style="font-size: 18px;">{{ reg_date.count }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <!-- End Card -->
                            </div>
                            <div class="col-md-3">
                                <!-- Card -->
                                <a href="{% url 'his_today' %}">
                                    <div class="card card-block mb-0 p-30 bg-blue-600">
                                        <div class="card-watermark darker font-size-80 m-15"><i
                                                class="icon md-money-box cc_cursor" aria-hidden="true"></i></div>
                                        <div class="counter counter-md counter-inverse text-left">
                                            <div class="counter-number-group">
                                                <span class="counter-number-related text-capitalize cc_cursor"
                                                      style="font-size: 18px;">Выдано</span>

                                                <span class="counter-number"
                                                      style="font-size: 18px;">{{ history_total }} б.</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <!-- End Card -->
                            </div>
                            <div class="col-md-3">
                                <!-- Card -->
                                <a href="{% url 'users_second_tour' %}">
                                    <div class="card card-block mb-0 p-30 bg-cyan-600">
                                        <div class="card-watermark darker font-size-80 m-15"><i
                                                class="icon md-arrow-right-top cc_cursor" aria-hidden="true"></i></div>
                                        <div class="counter counter-md counter-inverse text-left">
                                            <div class="counter-number-group">
                                                <span class="counter-number-related text-capitalize cc_cursor"
                                                      style="font-size: 18px;">Третий Этап</span>

                                                <span class="counter-number"
                                                      style="font-size: 18px;">{{ second_tour }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <!-- End Card -->
                            </div>
                            <style>
                                .nav-link:focus, .nav-link:hover {
                                    color: #fff;
                                    background-color: transparent !important;
                                }
                            </style>

                            {% if user.is_superuser %}
                                <div class="col-md-2">
                                    <!-- Card -->
                                    <a href="{% url 'offices_list' %}">
                                        <div class="card card-block mb-0  p-30 bg-orange-400">
                                            <div class="card-watermark darker font-size-80 m-15"><i
                                                    class="icon fa-building-o cc_cursor" aria-hidden="true"></i></div>
                                            <div class="counter counter-md counter-inverse text-left">
                                                <div class="counter-number-group">
                                                <span class="counter-number-related text-capitalize cc_cursor"
                                                      style="font-size: 18px;">Офисы</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- End Card -->
                                </div>
                                <div class="col-md-2">
                                    <!-- Card -->
                                    <a href="{% url 'operator_list' %}">
                                        <div class="card card-block mb-0  p-30 bg-red-600">
                                            <div class="card-watermark darker font-size-80 m-15"><i
                                                    class="icon md-accounts-alt cc_cursor" aria-hidden="true"></i></div>
                                            <div class="counter counter-md counter-inverse text-left">
                                                <div class="counter-number-group">
                                                <span class="counter-number-related text-capitalize cc_cursor"
                                                      style="font-size: 18px;">Операторы</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <!-- End Card -->
                                </div>
                            {% endif %}
                        </div>
                        <div class="panel-body">
                           <form action="{% url 'users_list' %}" method="get">
                                <input name="q" type="text" placeholder="Поиск"
                                       class="form-control search-input-list1"
                                       style="float: left;margin-right: 20px;"
                                        {% if search_input is None %}{% else %}
                                       value="{{ search_input }}" {% endif %}>
                                <select name="user_office" class="form-control my-form inline-block width-20 ml-2"
                                        id="id_user_office">
                                    {% if user_office_context %}
                                        <option value="{{ user_office_context.id }}"
                                                selected="">{{ user_office_context.office_name }}</option>
                                    {% else %}
                                        <option value="null" selected="">Регион</option>
                                    {% endif %}
                                    <option value="null"> </option>
                                    {% for office in all_offices %}
                                        <option value="{{ office.id }}">{{ office.office_name }}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Поиск
                                </button>
                            </form>
                            <table class="table table-bordered table-hover toggle-circle">
                                <thead>
                                <tr>
                                    <th data-name="id" data-type="number" data-breakpoints="xs">№</th>
                                    <th data-name="firstName">{% trans "Логин" %}</th>
                                    <th data-name="something">{% trans "ФИО" %}</th>
                                    <th data-name="something">Регион</th>
                                    <th data-name="something">Белги</th>
                                    <th data-name="jobTitle" data-breakpoints="xs sm">{% trans "Телефон" %}</th>
                                    <th data-name="firstName" width='8%' class="balls-cell">Баллы 2 / 3</th>
                                    <th data-name="firstName" class="product-cell" width="5%">Продукция</th>
                                    <th data-name="firstName" class="product-cell" width="5%">Статус</th>
                                    <th data-name="firstName" class="by-whom-cell">{% trans "Логин Спонсора" %}</th>
                                    {% if user.is_cashier or user.is_staff %}
                                        <th data-name="lastName" class="management-cell">{% trans "Управление" %}</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for list in object_list %}
                                    <tr>
                                        <td class="counterCell"></td>
                                        <td style="text-align: left"><a style="text-decoration: none"
                                                                        href="{% url 'user_detail' list.pk %}">{{ list.username }}</a>
                                        </td>
                                        <td>{{ list.user_fullname }}</td>
                                        <td>{{ list.user_office }}</td>
                                        <td>{% if list.user_notes != None %}{{ list.user_notes }}{% else %}
                                            Жок{% endif %}</td>
                                        <td>{{ list.user_phone }}</td>
                                        <td>{{ list.user_balance }} / {{ list.user_balance13 }}</td>
                                        <td>{% if list.product %}
                                            <img src="{% static 'img/icons/icon-yes.svg' %}">{% else %}
                                            <img src="{% static 'img/icons/icon-no.svg' %}"> {% endif %} |
                                        {% if list.product13 %}
                                            <img src="{% static 'img/icons/icon-yes.svg' %}">{% else %}
                                            <img src="{% static 'img/icons/icon-no.svg' %}"> {% endif %}
                                        </td>
                                        <td>{% if list.status %}
                                            <img src="{% static 'img/icons/icon-yes.svg' %}">{% else %}
                                            <img src="{% static 'img/icons/icon-no.svg' %}"> {% endif %} |
                                        {% if list.status13 %}
                                            <img src="{% static 'img/icons/icon-yes.svg' %}">{% else %}
                                            <img src="{% static 'img/icons/icon-no.svg' %}"> {% endif %}
                                        </td>
                                        <td>
                                            {% if list.user_by_whom_id %}
                                                <a href="{% url 'user_detail' list.user_by_whom_id %}"
                                                   style="text-decoration: none">{{ list.user_by_whom }}</a>
                                            {% else %}
                                                {% trans 'Спонсору жок' %}
                                            {% endif %}
                                        </td>
                                        {% if user.is_superuser %}
                                            <td>
                                                <a href="{% url 'user_detail' list.pk %}"
                                                   style="background:#00b6ff94; color:#fff; font-weight:700; font-size:13px; padding:4px 12px; border-radius: 6px;"><i
                                                        class="icon  wb-user"></i></a>
                                                <a href="{% url 'user_update' pk=list.pk oper=user.id %}?next={{ request.path|urlencode }}"
                                                   style="background:green; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px; margin-left:1px;">
                                                    <i class="icon  wb-settings"></i></a>
                                                {% if list.status is False %}
                                                    <a href="{% url 'user_delete' list.pk %}?next={{ request.path|urlencode }}"
                                                       style="background:red; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px;"><i
                                                            class="icon wb-trash"></i></a>
                                                {% endif %}
                                            </td>
                                        {% elif user.is_cashier or user.is_staff %}
                                            <td>
                                                <a href="{% url 'belgi_update' pk=list.pk oper=user.id %}?next={{ request.path|urlencode }}"
                                                   style="background: #1bc5ce; color:#fff; font-weight:700; font-size:13px; padding:4px 10px; border-radius: 6px; margin-left:1px;">
                                                    <i class="icon  wb-settings"></i></a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% include 'paginator.html' with page=page_obj %}

                        </div>
                    </div>
                    <!-- End Panel Filtering -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Page -->
{% endblock %}