{% extends 'manager_base.html' %}
{% load i18n %}
{% block content %}
    <!-- Features start -->
    <section >
    <div class="page-header">
            <h1 class="page-title">{% trans "Колдонуучулардын тизмеси" %}</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-title wow fadeIn" data-wow-delay="300ms">
                        <h2 style="color: #fff">Вы действительно хотите перевести на третий уровень пользователя {{ object.username }}</h2>
                    </div>
                </div>
            </div>
            <div class="row mb-70">
                <div class="col-md-6">
                    <form action="" class="user-update-form" enctype="multipart/form-data" method="post"
                          novalidate="novalidate" id="myForm">
                        {% csrf_token %}


                        <p><label style="color: #fff; margin: 3rem 0" for="id_user_second_status">Перевести на третий уровень:</label>
                            {{ form.user_second_status }}</p>


                        <div class="btn-signup">
                            <button type="submit" class="btn btn-success signup-btn">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Features ends -->


{% endblock %}