{% extends 'manager_base.html' %}
{% load static %}
{% block content %}
    <!-- Page -->
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">asdf</h1>
        </div>
        <div class="main-message">
            <h1 style="">Приветствие было успешно отправлено участнику: </h1>
            <h3> Логин:   {{ object.username }}</h3>
            <h3> ФИО:   {{ object.user_fullname }}</h3>
            <div class="row but-message-back">
            <a href="{% url 'user_detail' object.pk %}" class="btn btn-info">Назад в профиль</a></div>
        </div>
    </div>
{% endblock content %}