{% extends 'manager_base.html' %}
{% load static i18n %}
{% block content %}

    <div class="page">
        <div class="page-content container-fluid">
            <div class="row" data-plugin="matchHeight" data-by-row="true">

                <div class="col-xl-4 col-lg-6">
                    <!-- Widget User list -->
                    <div class="card" id="widgetUserList">
                        <div class="card-header cover overlay">
                            <img class="cover-image h-300" src="{% static 'images/dashboard-header.jpg' %}"
                                 alt="..."/>
                            <div class="overlay-panel vertical-align overlay-background"
                                 style="background-color: rgba(103, 58, 183, .8);">
                                <div class="vertical-align-middle">
                                    <a class="avatar avatar-100 float-left mr-20" href="javascript:void(0)">
                                        <img src="{% if object.user_image %}{{ object.user_image.url }}{% else %}{% static 'default_user.png' %}{% endif %}" alt="">
                                    </a>
                                    <div class="float-left">
                                        <div class="font-size-20 mb-15">Логин: {{ object.username }}
                                            {% if user.is_superuser %}
                                                <span class="float-right">
                                                <a href="{% url 'user_update' detail.pk user.id %}?next={{ request.path|urlencode }}">
                                                    <i class="icon fa-cogs font-size-30" aria-hidden="true"></i>
                                                </a>
                                            </span>
                                            {% endif %}
                                        </div>

                                        <p class="mb-5 text-nowrap"><i class="icon fa-user mr-10"
                                                                       aria-hidden="true"></i>
                                            <span class="text-break">{{ object.user_fullname }}</span>
                                        </p>
                                        <p class="mb-5 text-nowrap"><i class="icon fa-home mr-10"
                                                                       aria-hidden="true"></i>
                                            <span class="text-break">{{ object.user_office }}</span>
                                        </p>
                                        <p class="mb-5 text-nowrap"><i class="icon fa-phone-square mr-10"
                                                                       aria-hidden="true"></i>
                                            <span class="text-break"> {{ object.user_phone }}</span>
                                        </p>
                                        {% if user.is_superuser %}
                                        <p class="mb-5 text-nowrap"><i class="icon fa-sticky-note-o mr-10"
                                                                       aria-hidden="true"></i>
                                            <span class="text-break"> {{ object.user_notes }}</span>
                                        </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white">
                            <div class="row no-space py-20 px-30 text-center">
                                <div class="col-5">
                                    <div class="counter">
                                        <span class="counter-number cyan-600">{{ object.user_registration_date|date:'d.m.Y' }} г.</span>
                                        <div class="counter-label">{% trans 'Катталган күнү 2' %}</div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="counter">
                                        <span class="counter-number cyan-600">{{ object.followers }}</span>
                                        <div class="counter-label">{% trans 'Жолдоочулары 2' %}</div>
                                    </div>
                                </div>
                                <div class="col-3">

                                    {% if user.is_superuser %}
                                    <a href="{% url 'user_matrix' object.pk %}">
                                        <div class="counter">
                                            <i class="icon fa-sitemap" aria-hidden="true"
                                               style="font-size: 30px; color:#844adb;"></i>
                                            <div class="counter-label" style="color: #76838f">Структура 2</div>
                                        </div>
                                    </a>
                                    {% else %}
                                    <a href="{% url 'matrix_list' object.pk %}">
                                        <div class="counter">
                                            <i class="icon fa-sitemap" aria-hidden="true"
                                               style="font-size: 30px; color:#844adb;"></i>
                                            <div class="counter-label" style="color: #76838f">Структура 2</div>
                                        </div>
                                    </a>
                                    {% endif %}

                                </div>
                            </div>
                            {% if object.status13 %}
                                <div class="row no-space py-20 px-30 text-center">
                                    <div class="col-5">
                                        <div class="counter">
                                            <span class="counter-number cyan-600">{{ object.status_date13|date:'d.m.Y' }} г.</span>
                                            <div class="counter-label">{% trans 'Катталган күнү 3' %}</div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="counter">
                                            <span class="counter-number cyan-600">{{ object.followers13 }}</span>
                                            <div class="counter-label">{% trans 'Жолдоочулары 3' %}</div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        {% if user.is_superuser %}
                                        <a href="{% url 'user_matrix13' object.pk %}">
                                            <div class="counter">
                                                <i class="icon fa-sitemap" aria-hidden="true"
                                                   style="font-size: 30px; color:#844adb;"></i>
                                                <div class="counter-label" style="color: #76838f">Структура 3</div>
                                            </div>
                                        </a>
                                        {% else %}
                                        <a href="{% url 'matrix13_list' object.pk %}">
                                            <div class="counter">
                                                <i class="icon fa-sitemap" aria-hidden="true"
                                                   style="font-size: 30px; color:#844adb;"></i>
                                                <div class="counter-label" style="color: #76838f">Структура 3</div>
                                            </div>
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- End Widget User list -->
                </div>

                <div class="col-xl-4 col-lg-6">
                    <!-- Top Card -->
                    <div class="card card-block p-10 mb-lg-5">
                        <div class="counter counter-md text-left">
                            <script>
                                function myFunction(link) {
                                    /* Get the text field */
                                    var copyText = document.getElementById(link);

                                    /* Select the text field */
                                    copyText.select();
                                    copyText.setSelectionRange(0, 99999); /*For mobile devices*/

                                    /* Copy the text inside the text field */
                                    document.execCommand("copy");
                                }

                            </script>
                            <div class="counter-number-group mb-10">
                                <span style="font-size: 12px;">{% trans 'Каттоо бетине реферералдык шилтеме' %}</span>

                                <div class="input-group">
                                    <input id="referal_link" type="text" readonly="readonly" class="form-control"
                                           value="http://bayel.kg{% url 'referral_create' pk=object.pk %}">
                                    <span class="input-group-btn">
                                        <button onclick="myFunction('referal_link')" type="submit"
                                                class="btn btn-primary waves-effect waves-classic">
                                            <i class="icon fa-copy" aria-hidden="true"></i>
                                        </button>
                                        <script src="https://yastatic.net/share2/share.js"></script>
                                        <div class="ya-share2 btn btn-success waves-effect waves-classic" data-curtain
                                             data-limit="0"
                                             data-more-button-type="short"
                                             data-services="vkontakte,facebook,odnoklassniki,telegram,viber,whatsapp"
                                             data-url="http://bayel.kg{% url 'referral_create' pk=object.pk %}"
                                             style="padding: 0 5px"></div>

                                  </span>
                                </div>
                            </div>
                            <div class="counter-number-group mb-10">
                                <a href="{% url 'upload' detail.pk %}" class="btn btn-outline-primary"
                                   style="font-weight: 500; text-transform: uppercase">{% trans 'өзгөртүү' %}</a>
                                <a href="{% url 'password_change' %}" class="btn btn-outline-primary"
                                   style="font-weight: 500; text-transform: uppercase">
                                    {% trans 'Сыр сөздү өзгөртүү' %}</a>
                                {% if user.is_staff or user.is_cashier %}
                                    <a href="{% url 'change_pswd' object.pk %}"
                                       class="btn btn-outline-success"
                                       style="font-weight: 500; font-size: 12px; text-transform: uppercase">{% trans "Сбросить пароль" %}</a>
                                    {% if object.user_message %}
                                        <a onclick="window.location.assign('{% url "user_message_block" pk=object.pk %}')"
                                           href="https://web.whatsapp.com/send?phone={{ object.user_phone|slice:"1:" }}&text=Кутман күн Урматтуу {{ object.user_fullname }}! Сиз 'Бай Эл' программасына ийгиликтүү катталышыңыз менен куттуктайбыз! %0a%0aЛогин: {{ object.username }} %0aСыр сөз (пароль): bayel123 колдонуп %0ahttp://bayel.kg/users/login/ кабинетиңизге кириңиз. %0aИшиңизге ийгилик!  %0a%0aИнтернет-магазин: %0ahttp://4000.bayel.kg/ %0a%0aБиз жөнүндө: %0ahttp://4000.bayel.kg/about/ %0a%0aТелеграм группа: %0ahttps://t.me/joinchat/UaMjOCSpK9nqKB2i %0a%0a!!!Шилтемелер иштеш учун, номерди сактап алыңыз!!! %0a%0aПрограмманын администрациясы."
                                           target="_blank"
                                           class="btn btn-outline-success"
                                           style="font-weight: 500; font-size: 12px; text-transform: uppercase">Саламдашуу</a>
                                        <a onclick="window.location.assign('{% url "user_message_block" pk=object.pk %}')"
                                           href="https://web.whatsapp.com/send?phone={{ object.user_phone|slice:"1:" }}&text=Добрый день Уважаемый {{ object.user_fullname }}! Поздравляем с успешной регистрацией в программе 'Бай Эл.kg'! %0a%0aПерейдите по адресу http://bayel.kg/users/login/ используя %0aВаш логин: {{ object.username }} %0aпароль: bayel123 %0a%0aПрисоединяйтесь к группе Telegram по ссылке https://t.me/joinchat/UaMjOCSpK9nqKB2i, чтобы быть в курсе событий. %0a%0aУдачи в работе! %0aАдминистрация программы."
                                           target="_blank"
                                           class="btn btn-outline-success"
                                           style="font-weight: 500; font-size: 12px; text-transform: uppercase">Приветствие</a>
                                    {% endif %}
                                {% endif %}
                            </div>

                        </div>
                    </div>
                    <!-- End Top Card -->
                    <!-- Card -->
                    <div class="card justify-content-between" style="margin-bottom:1rem; padding: 10px 20px">
                        <div style="display: flex; flex-direction: row; justify-content: space-between">
                            <h4>{% trans 'Жетекчи' %}: </h4>
                            <i class="icon white icon-circle fa-user bg-blue-600" aria-hidden="true"
                               style="margin: 1rem"></i>
                        </div>
                        <div class="counter counter-md text-left">
                            {% if object.user_by_whom %}
                                <div class="counter-number-group">
                                    <span class="counter-number-related text-capitalize">
                                        {% if user.is_staff or user.is_cashier %}
                                            <a href="{% url 'user_detail' object.user_by_whom.pk %}">{{ object.user_by_whom.user_fullname }}</a>
                                            <br>
                                            <h4>{{ object.user_by_whom.username }}</h4>
                                        {% else %}
                                            <a href="#">{{ object.user_by_whom.user_fullname }}</a>
                                        {% endif %}
                                    </span>
                                </div>
                            {% else %}
                                <div class="counter-number-group">
                                    <span class="counter-number-related text-capitalize">{% trans 'Спонсору жок' %}</span>
                                </div>
                            {% endif %}
                        </div>
                        <!-- End Card -->
                    </div>
                    <!-- End Panel Projects -->
                </div>
                <!-- Money Balance Block -->
                <div class="col-xl-4 col-lg-6">

                    <!-- Money Balance Card -->
                    <div class="card card-block p-10 mb-1 bg-blue-600 wallet-bg">
                        <div class="counter-lg counter-inverse">
                            <div class="counter counter-label text-uppercase font-size-16 flex-between">
                                Кошелек {{ object.username }}
                                <span>{% if user.is_superuser or user.is_cashier %}
                                    <a href="{% url 'history_create' amount_pk=object.pk operator_pk=user.pk %}?next={{ request.path|urlencode }}"
                                       data-toggle="tooltip" title="Выдача наличных" class="underline_none">
                                                           <i class="icon md-money-box mr-5 balance-icon"
                                                              aria-hidden="true"></i></a>
                                {% endif %}
                                    <a href="{% url 'histories_list' user_info=object.pk %}"
                                       data-toggle="tooltip" title="История выплат" class="underline_none">
                                                            <i class="icon md-format-list-bulleted mr-10 balance-icon"
                                                               aria-hidden="true"></i>
                                                        </a></span>
                            </div>

                            <div class="font-size-22">
                                                <span class="counter-number">
                                                    <span class="balance-title-detail">{% trans "Мен таптым" %}:</span>
                                                    <span class="float-right">
                                                        <span class="mr-15">{{ new_balance.top.user_total }}</span>
                                                    </span>
                                                </span>
                            </div>

                            <div class="font-size-22">
                                                <span class="counter-number">
                                                    <span class="balance-title-detail">{% trans "Алууга мүмкүнчүлүк" %}:</span>
                                                    <span class="float-right">
                                                        <span class="mr-15">{{ new_balance.top.user_balance }}</span>
                                                    </span>
                                                </span>
                            </div>

                            {% if not object.user_second_status %}
                                <div class="font-size-22">
                                                <span class="counter-number">
                                                    <span class="balance-title-detail">{% trans "Кармалган 3 этапка" %}:</span>
                                                    <span class="float-right">
                                                        <span class="mr-15">{{ new_balance.top.user_frozen }}</span>
                                                    </span>
                                                </span>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                    <!-- End Money Balance Card -->

                    {% if object.follower1 and object.follower1.status_user_own %}
                        <!-- Money Balance Card -->
                        <div class="card card-block p-10 mb-1 bg-blue-600 wallet-bg2">
                            <div class="counter-lg counter-inverse">
                                <div class="counter counter-label text-uppercase font-size-16 flex-between">
                                    <span>Кошелек
                                        {% if user.is_staff or user.is_cashier or user == object.follower1.user_by_whom %}
                                            <a href="{% url 'user_detail' object.follower1.pk %}"
                                               style="color: #fff">{{ object.follower1 }}</a>
                                        {% else %}
                                            {{ object.follower1 }}
                                        {% endif %}
                                    </span>
                                    <span>
                                     {% if user.is_superuser or user.is_cashier %}
                                         <a href="{% url 'history_create' amount_pk=object.follower1.pk operator_pk=user.pk %}?next={{ request.path|urlencode }}"
                                            data-toggle="tooltip" title="Выдача наличных"
                                            class="underline_none">
                                             <i class="icon md-money-box mr-5 balance-icon" aria-hidden="true"></i></a>
                                     {% endif %}
                                        <a href="{% url 'histories_list' user_info=object.follower1.pk %}"
                                           data-toggle="tooltip" title="История выплат" class="underline_none">
                                            <i class="icon md-format-list-bulleted mr-10 balance-icon"
                                               aria-hidden="true"></i></a></span>
                                </div>
                                <div class="font-size-22">
                                    <span class="counter-number">
                                        <span class="balance-title-detail">{% trans "Мен таптым" %}:</span>
                                        <span class="float-right">
                                            <span class="mr-15">{{ new_balance.first.user_total }}</span>
                                        </span>
                                    </span>
                                </div>
                                <div class="font-size-22">
                                    <span class="counter-number">
                                        <span class="balance-title-detail">{% trans "Алууга мүмкүнчүлүк" %}:</span>
                                        <span class="float-right">
                                            <span class="mr-15">{{ new_balance.first.user_balance }}</span>
                                        </span>
                                    </span>
                                </div>
                                {% if not object.follower1.user_second_status %}
                                    <div class="font-size-22">
                                    <span class="counter-number">
                                        <span class="balance-title-detail">{% trans "Кармалган 3 этапка" %}:</span>
                                        <span class="float-right">
                                            <span class="mr-15">{{ new_balance.first.user_frozen }}</span>
                                        </span>
                                    </span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <!-- End Money Balance Card -->
                    {% endif %}

                    {% if object.follower2 and object.follower2.status_user_own %}
                        <!-- Money Balance Card -->
                        <div class="card card-block p-10 mb-1 bg-yellow-600 wallet-bg3">
                            <div class="counter-lg counter-inverse">
                                <div class="counter counter-label text-uppercase font-size-16 flex-between">
                                    <span>Кошелек
                                        {% if user.is_staff or user.is_cashier or user == object.follower2.user_by_whom %}
                                            <a href="{% url 'user_detail' object.follower2.pk %}"
                                               style="color: #fff">{{ object.follower2 }}</a>
                                        {% else %}
                                            {{ object.follower2 }}
                                        {% endif %}
                                    </span>
                                    <span>
                                 {% if user.is_superuser or user.is_cashier %}
                                     <a href="{% url 'history_create' amount_pk=object.follower2.pk operator_pk=user.pk %}?next={{ request.path|urlencode }}"
                                        data-toggle="tooltip" title="Выдача наличных"
                                        class="underline_none">
                                         <i class="icon md-money-box mr-5 balance-icon" aria-hidden="true"></i></a>
                                 {% endif %}
                                        <a href="{% url 'histories_list' user_info=object.follower2.pk %}"
                                           data-toggle="tooltip" title="История выплат" class="underline_none">
                                            <i class="icon md-format-list-bulleted mr-10 balance-icon"
                                               aria-hidden="true"></i></a>
                                    </span>
                                </div>
                                <div class="font-size-22">
                                    <span class="counter-number">
                                        <span class="balance-title-detail">{% trans "Мен таптым" %}:</span>
                                        <span class="float-right">
                                            <span class="mr-15">{{ new_balance.second.user_total }}</span>
                                        </span>
                                    </span>
                                </div>
                                <div class="font-size-22">
                                    <span class="counter-number">
                                        <span class="balance-title-detail">{% trans "Алууга мүмкүнчүлүк" %}:</span>
                                        <span class="float-right">
                                            <span class="mr-15">{{ new_balance.second.user_balance }}</span>
                                        </span>
                                    </span>
                                </div>
                                {% if not object.follower2.user_second_status %}
                                    <div class="font-size-22">
                                    <span class="counter-number">
                                        <span class="balance-title-detail">{% trans "Кармалган 3 этапка" %}:</span>
                                        <span class="float-right">
                                            <span class="mr-15">{{ new_balance.second.user_frozen }}</span>
                                        </span>
                                    </span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <!-- End Money Balance Card -->
                    {% endif %}
                </div>
            </div>
            {% if object.status13 %}
                <div class="row mb-10" data-plugin="matchHeight" data-by-row="true">

                    <div class="col-xl-4 col-lg-6">
                        <!-- Money Balance Card -->
                        <div class="card card-block p-10 mb-1 bg-pink-600 wallet-bg">
                            <div class="counter-lg counter-inverse">
                                <div class="counter counter-label text-uppercase font-size-16 flex-between">
                                    Кошелек 3 этап {{ object.username }}
                                    <span>{% if user.is_superuser or user.is_cashier %}
                                        <a href="{% url 'history13_create' amount_pk=object.pk operator_pk=user.pk %}?next={{ request.path|urlencode }}"
                                           data-toggle="tooltip" title="Выдача наличных за 3 этап" class="underline_none">
                                                           <i class="icon md-money-box mr-5 balance-icon"
                                                              aria-hidden="true"></i></a>
                                    {% endif %}
                                        <a href="{% url 'histories13_list' user_info=object.pk %}"
                                           data-toggle="tooltip" title="История выплат за 3 этап" class="underline_none">
                                                            <i class="icon md-format-list-bulleted mr-10 balance-icon"
                                                               aria-hidden="true"></i>
                                                        </a></span>
                                </div>

                                <div class="font-size-22">
                                                <span class="counter-number">
                                                    <span class="balance-title-detail">{% trans "Мен таптым" %}:</span>
                                                    <span class="float-right">
                                                        <span class="mr-15">{{ object.user_total_balance13 }}</span>
                                                    </span>
                                                </span>
                                </div>

                                <div class="font-size-22">
                                                <span class="counter-number">
                                                    <span class="balance-title-detail">{% trans "Алууга мүмкүнчүлүк" %}:</span>
                                                    <span class="float-right">
                                                        <span class="mr-15">{{ object.user_balance13 }}</span>
                                                    </span>
                                                </span>
                                </div>

                            </div>
                        </div>
                        <!-- End Money Balance Card -->
                    </div>

                    {% if object.follower1.status_user_own %}
                        <div class="col-xl-4 col-lg-6">
                            <!-- Money Balance Card -->
                            <div class="card card-block p-10 mb-1 bg-green-600 wallet-bg2">
                                <div class="counter-lg counter-inverse">
                                    <div class="counter counter-label text-uppercase font-size-16 flex-between">
                                        {% if object.follower1.status13 %}
                                            Кошелек 3 этап {{ object.follower1.username }}

                                            <span>{% if user.is_superuser or user.is_cashier %}
                                                <a href="{% url 'history13_create' amount_pk=object.follower1.pk operator_pk=user.pk %}?next={{ request.path|urlencode }}"
                                                   data-toggle="tooltip" title="Выдача наличных за 3 этап" class="underline_none">
                                                           <i class="icon md-money-box mr-5 balance-icon"
                                                              aria-hidden="true"></i></a>
                                            {% endif %}
                                                <a href="{% url 'histories13_list' user_info=object.follower1.pk %}"
                                                   data-toggle="tooltip" title="История выплат за 3 этап" class="underline_none">
                                                            <i class="icon md-format-list-bulleted mr-10 balance-icon"
                                                               aria-hidden="true"></i>
                                                        </a></span>
                                        {% elif object.follower1 %}
                                            {{ object.follower1.username }} {% trans 'Үчүнчү этапка өткөн жок' %}
                                        {% else %}
                                            Подписчик не найден
                                        {% endif %}
                                    </div>
                                    {% if object.follower1 and object.follower1.status_user_own and object.follower1.status13 %}
                                        <div class="font-size-22">
                                                <span class="counter-number">
                                                    <span class="balance-title-detail">{% trans "Мен таптым" %}:</span>
                                                    <span class="float-right">
                                                        <span class="mr-15">{{ object.follower1.user_total_balance13 }}</span>
                                                    </span>
                                                </span>
                                        </div>

                                        <div class="font-size-22">
                                                <span class="counter-number">
                                                    <span class="balance-title-detail">{% trans "Алууга мүмкүнчүлүк" %}:</span>
                                                    <span class="float-right">
                                                        <span class="mr-15">{{ object.follower1.user_balance13 }}</span>
                                                    </span>
                                                </span>
                                        </div>
                                    {% endif %}
                                    <!--- End if for object status 13--->
                                </div>
                            </div>
                            <!-- End Money Balance Card -->
                        </div>
                    {% endif %}

                    {% if object.follower2.status_user_own %}
                        <div class="col-xl-4 col-lg-6">
                            <!-- Money Balance Card -->
                            <div class="card card-block p-10 mb-1 bg-yellow-600 wallet-bg3">
                                <div class="counter-lg counter-inverse">
                                    <div class="counter counter-label text-uppercase font-size-16 flex-between">

                                        {% if object.follower2.status13 and object.follower2.status_user_own %}
                                            Кошелек 3 этап {{ object.follower2.username }}

                                            <span>{% if user.is_superuser or user.is_cashier %}
                                                <a href="{% url 'history13_create' amount_pk=object.follower2.pk operator_pk=user.pk %}?next={{ request.path|urlencode }}"
                                                   data-toggle="tooltip" title="Выдача наличных за 3 этап" class="underline_none">
                                                           <i class="icon md-money-box mr-5 balance-icon"
                                                              aria-hidden="true"></i></a>
                                            {% endif %}
                                                <a href="{% url 'histories13_list' user_info=object.follower2.pk %}"
                                                   data-toggle="tooltip" title="История выплат за 3 этап" class="underline_none">
                                                            <i class="icon md-format-list-bulleted mr-10 balance-icon"
                                                               aria-hidden="true"></i>
                                                        </a></span>
                                        {% elif object.follower2 %}
                                            {{ object.follower2.username }} {% trans 'Үчүнчү этапка өткөн жок' %}
                                        {% else %}
                                            Подписчик не найден
                                        {% endif %}

                                    </div>
                                    {% if object.follower2 and object.follower2.status_user_own and object.follower2.status13 %}
                                        <div class="font-size-22">
                                                <span class="counter-number">
                                                    <span class="balance-title-detail">{% trans "Мен таптым" %}:</span>
                                                    <span class="float-right">
                                                        <span class="mr-15">{{ object.follower2.user_total_balance13 }}</span>
                                                    </span>
                                                </span>
                                        </div>

                                        <div class="font-size-22">
                                                <span class="counter-number">
                                                    <span class="balance-title-detail">{% trans "Алууга мүмкүнчүлүк" %}:</span>
                                                    <span class="float-right">
                                                        <span class="mr-15">{{ object.follower2.user_balance13 }}</span>
                                                    </span>
                                                </span>
                                        </div>

                                    {% endif %}

                                </div>
                            </div>
                            <!-- End Money Balance Card -->
                        </div>
                    {% endif %}
                </div>
            {% endif %}

            <div class="row" data-plugin="matchHeight" data-by-row="true">
                <!-- Мои подписчики-->
                <div class="col-lg-6 masonry-item">
                    <!-- Panel Last threads -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="panel-title-icon icon md-comments"
                                                       aria-hidden="true"></i>
                                {% trans 'Жолдоочуларым' %}</h3>
                        </div>
                        <div class="panel-body h-300" data-plugin="scrollable">
                            <div data-role="container">
                                <div data-role="content">
                                    <ul class="list-group list-group-dividered list-group-full">

                                        {% for follower in user_followers_context %}

                                            <li class="list-group-item">
                                                <div class="media">
                                                    <div class="pr-20">
                                                        <a class="avatar {% cycle  'avatar-online' 'avatar-away' 'avatar-off' %}"
                                                           href="javascript:void(0)">
                                                            <img src="{% if follower.follower_user.user_image %}
                                                                {{ follower.follower_user.user_image.url }}
                                                                {% else %}
                                                                {% static 'default_user.png' %}{% endif %}"
                                                                 alt="">
                                                            <i></i>
                                                        </a>
                                                    </div>
                                                    <div class="media-body">
                                                        <small class="float-right">{{ follower.follower_date }}</small>
                                                        <h5 class="mt-0 mb-5">{{ follower.follower_user.user_fullname }}</h5>
                                                        {% if user.is_staff or user.is_cashier %}
                                                            <h5 class="mt-0 mb-5">{{ follower.follower_user.username }}</h5>
                                                        {% endif %}
                                                        <small>{% trans 'Спонсору' %} <a
                                                                class="badge badge-outline badge-default"
                                                                href="javascript:void(0)"
                                                                title="">{{ follower.follower_user.user_by_whom.user_fullname }}</a>
                                                            {% if user.is_staff or user.is_cashier %}
                                                                <a class="badge badge-outline badge-default"
                                                                   href="javascript:void(0)"
                                                                   title="">{{ follower.follower_user.user_by_whom.username }}</a>
                                                            {% endif %}</small>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Panel Last threads -->
                </div>
                <!--End История баланса-->

                <!-- История баланса -->
                <div class="col-lg-6 masonry-item">
                    <!-- Panel Last threads -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="panel-title-icon icon md-comments"
                                                       aria-hidden="true"></i>
                                {% trans 'Толуктоолордун тарыхы' %}</h3>
                        </div>
                        <div class="panel-body h-300" data-plugin="scrollable">
                            <div data-role="container">
                                <div data-role="content">
                                    <ul class="list-group list-group-dividered list-group-full">
                                        {% for item in money_transactions %}
                                            <li class="list-group-item">
                                                <div class="media">
                                                    <div class="pr-20">
                                                        <a class="avatar {% cycle  'avatar-online' 'avatar-away' 'avatar-off' %}"
                                                           href="javascript:void(0)">
                                                            <img src="{{ item.oper_his_user.user_image.url }}" alt="">
                                                            <i></i>
                                                        </a>
                                                    </div>
                                                    <div class="media-body">
                                                        <small class="float-right">{{ item.oper_his_date }}</small>
                                                        <h5 class="mt-0 mb-5">{{ item.oper_his_amount }}</h5>
                                                        <small>{{ item.oper_his_note }}
                                                            {#                                                            <a href="javascript:void(0)"#}
                                                            {#                                                                              title="">{{ item.oper_his_operator.user_fullname }}</a>#}
                                                            {% if user.is_staff or user.is_cashier %}
                                                                <a href="javascript:void(0)"
                                                                   title="">{{ item.oper_his_operator.username }}</a>
                                                            {% endif %}
                                                        </small>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Panel Last threads -->
                </div>
                <!--End История баланса-->
            </div>
        </div>
    </div>

{% endblock %}