{% extends 'manager_base.html' %}
{% load static i18n %}
{% block content %}

    <!-- Page -->
    <div class="page">
        <div class="page-header">
        </div>
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <!-- Panel -->
                    <div class="panel">
                        <div class="panel-body nav-tabs-animate nav-tabs-horizontal" data-plugin="tabs">
                            <div class="tab-content">
                                <div class="tab-pane active animation-slide-left" id="activities" role="tabpanel">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="card-block project-participators">
                                                <hr>
                                                <h2 class="email-more-title">Этап 1</h2>
                                                <hr>
                                                <div class="media mt-0">
                                                    <div class="pr-20 text-middle">
                                                        <span>{% trans "Мен таптым" %}</span>
                                                    </div>
                                                    <div class="media-body">
                                                        <span class="font-size-16 ml-5">{{ object.total_balance }}</span>
                                                    </div>
                                                </div>
                                                <div class="media mt-0">
                                                    <div class="pr-20 text-middle">
                                                        <span>{% trans "Алууга мүмкүнчүлүк" %}</span>
                                                    </div>
                                                    <div class="media-body">
                                                        <span class="font-size-16 ml-5">{{ object.balance }}</span>
                                                    </div>
                                                </div>
                                                <hr>
                                                <a href="{% url 'histories_list' user_info=object.pk %}"
                                                   class="btn btn-outline-primary"
                                                   style="font-weight: 500; text-transform: uppercase">{% trans "Каржынын тарыхы" %}</a>

                                                {% if user.is_superuser %}
                                                    <a href="{% url 'history_create' amount_pk=object.pk %}"
                                                       class="btn btn-outline-primary"
                                                       style="font-weight: 500; text-transform: uppercase">{% trans "Акча берүү" %}</a>
                                                    {#                                                    <a href="{% url 'change_pswd' object.pk %}" class="btn btn-danger">{% trans "Сырсөздү өзгөртүү" %}</a>#}
                                                {% endif %}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Panel -->
                </div>
                <div class="col-lg-6">
                    <!-- Panel -->
                    <div class="panel">
                        <div class="panel-body nav-tabs-animate nav-tabs-horizontal" data-plugin="tabs">
                            <div class="tab-content">
                                <div class="tab-pane active animation-slide-left" id="activities" role="tabpanel">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="card-block project-participators">
                                                <hr>
                                                <h2 class="email-more-title">Этап 2</h2>
                                                <hr>
                                                <div class="media mt-0">
                                                    <div class="pr-20 text-middle">
                                                        <span>{% trans "Мен таптым" %}</span>
                                                    </div>
                                                    <div class="media-body">
                                                        <span class="font-size-16 ml-5">{{ object.total_balance13 }}</span>
                                                    </div>
                                                </div>
                                                <div class="media mt-0">
                                                    <div class="pr-20 text-middle">
                                                        <span>{% trans "Алууга мүмкүнчүлүк" %}</span>
                                                    </div>
                                                    <div class="media-body">
                                                        <span class="font-size-16 ml-5">{{ object.balance13 }}</span>
                                                    </div>
                                                </div>
                                                <hr>
                                                <a href="{% url 'histories13_list' user_info=object.pk %}"
                                                   class="btn btn-outline-primary"
                                                   style="font-weight: 500; text-transform: uppercase">{% trans "Каржынын тарыхы" %}</a>

                                                {% if user.is_superuser %}
                                                    <a href="{% url 'history13_create' amount_pk=object.pk %}"
                                                       class="btn btn-outline-primary"
                                                       style="font-weight: 500; text-transform: uppercase">{% trans "Акча берүү" %}</a>
                                                    {#                                                    <a href="{% url 'change_pswd' object.pk %}" class="btn btn-danger">{% trans "Сырсөздү өзгөртүү" %}</a>#}
                                                {% endif %}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Panel -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Page -->
{% endblock %}