{% extends 'manager_base.html' %}
{% load i18n %}
{% block content %}
    <!-- Features start -->
    <section id="features" style="padding: 1rem 0;">
        <div class="container">
            <div class="row mb-70">
                <div class="col-md-12">
                    <form action="" class="user-update-form" enctype="multipart/form-data" method="post"
                          novalidate="novalidate" id="myForm">
                        {% csrf_token %}
                        <div class='col-md-12' style="display: inline-flex;">
                            <div class='col-md-6'>
                                <p><label for="id_username">Логин:</label>{{ form.username }}</p>
                                <p><label for="id_user_fullname">ФИО:</label>{{ form.user_fullname }}</p>
                                <p><label for="id_user_notes">Белги:</label>{{ form.user_notes }}</p>
                                <p><label for="id_user_image">Фотография пользователя:</label>{{ form.user_image }}</p>
                                <p><label for="id_user_office">Регион:</label>{{ form.user_office }}</p>
                                <p><label for="id_user_by_whom">Спонсор:</label>{{ form.user_by_whom }}</p>

                                {% if object.user_by_whom %}
                                    <p>{% if object.user_by_whom.follower1 %}
                                        1 Жолдоочу 7500:
                                        <a href="{% url 'user_detail' object.user_by_whom.follower1.pk %}">{{ object.user_by_whom.follower1 }}</a>
                                    {% else %}
                                        <span class="jok-red">1 Жолдоочу 7500: Жок</span>
                                    {% endif %}</p>
                                    <p>{% if object.user_by_whom.follower2 %}
                                        2 Жолдоочу 7500:
                                        <a href="{% url 'user_detail' object.user_by_whom.follower2.pk %}">{{ object.user_by_whom.follower2 }}</a>
                                    {% else %}
                                        <span class="jok-red">2 Жолдоочу 7500: Жок</span>
                                    {% endif %}</p>
                                {% endif %}

                                <p><label for="id_user_second_status">Переход на третий
                                    этап:</label>{{ form.user_second_status }}</p>
                            </div>
                            <div class='col-md-6'>

                                <p><label for="id_user_phone">Телефон:</label> {{ form.user_phone }}</p>

                                <table class="table table-bordered text-center">
                                    <tbody>
                                    <tr>
                                        <td class="vertical-middle">Доступно для снятия:</td>
                                        <td class="vertical-middle">{{ form.user_balance }}</td>
                                        <td class="vertical-middle">Всего заработанно:</td>
                                        <td class="vertical-middle">{{ form.user_total_balance }}</td>
                                    </tr>
                                    <tr>
                                        <td class="vertical-middle">Доступно для снятия 13:</td>
                                        <td class="vertical-middle">{{ form.user_balance13 }}</td>
                                        <td class="vertical-middle">Всего заработанно 13:</td>
                                        <td class="vertical-middle">{{ form.user_total_balance13 }}</td>
                                    </tr>
                                    <tr>
                                        <td class="vertical-middle">Скрытые деньги 13:</td>
                                        <td class="vertical-middle">{{ form.user_balance13_hidden }}</td>
                                        <td class="vertical-middle">Подписчики скрытые 13:</td>
                                        <td class="vertical-middle">{{ form.followers13_passive }}</td>
                                    </tr>
                                    <tr>
                                        <td class="vertical-middle">Подписчики:</td>
                                        <td class="vertical-middle">{{ form.followers }}</td>
                                        <td class="vertical-middle">Подписчики 13:</td>
                                        <td class="vertical-middle">{{ form.followers13 }}</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table class="table table-bordered text-center">
                                    <tbody>


                                    <tr>
                                        <td class="vertical-middle">Продукция:</td>
                                        <td class="vertical-middle">{{ form.product }}</td>
                                        <td class="vertical-middle">Продукция 13:</td>
                                        <td class="vertical-middle">{{ form.product13 }}</td>
                                        <td class="vertical-middle">Приветствие:</td>
                                        <td class="vertical-middle">{{ form.user_message }}</td>
                                    </tr>
                                    <tr>
                                        <td class="vertical-middle">Оператор:</td>
                                        <td class="vertical-middle">{{ form.is_staff }}</td>
                                        <td class="vertical-middle">Кассир:</td>
                                        <td class="vertical-middle">{{ form.is_cashier }}</td>
                                    </tr>
                                    <tr>
                                        <td class="vertical-middle">Статус &nbsp 7600:</td>
                                        <td class="vertical-middle">{% if object.user_by_whom %}
                                            <input
                                                    {% if not object.user_by_whom.status or object.user_by_whom.follower2 %}
                                                        style="visibility: hidden"
                                                    {% endif %}
                                                        type="checkbox" name="status" id="id_status"
                                                    {% if object.status %}
                                                        checked=""{% endif %}>
                                            {% if not object.user_by_whom.status %}
                                                <span class="jok-red">Спонсор {{ object.user_by_whom.user_fullname }}, Без Статуса</span>
                                            {% elif object.user_by_whom.follower2 %}
                                                <span class="jok-red">Спонсор занят</span>
                                            {% endif %}
                                        {% else %}
                                            <input style="visibility: hidden" type="checkbox" name="status"
                                                   id="id_status">
                                            <span class="jok-red">Спонсора нет</span>
                                        {% endif %}</td>
                                        <td class="vertical-middle">Первый без денег 75:</td>
                                        <td class="vertical-middle">{{ form.status_user_own }}</td>
                                        <td class="vertical-middle">Без денег:</td>
                                        <td class="vertical-middle">{{ form.status_user_gift }}</td>
                                    </tr>
                                    <tr>
                                        <td class="vertical-middle">Статус 13000:</td>
                                        <td class="vertical-middle"><input type="checkbox" name="status13"
                                                                           id="id_status13"
                                                                           {% if object.status13 %}checked=""{% endif %}>
                                        </td>
                                        <td class="vertical-middle">Первый без денег 13:</td>
                                        <td class="vertical-middle">{{ form.status_user_gift13 }}</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="btn-signup">
                                    <button type="submit" class="btn btn-outline-success signup-btn">Сохранить</button>

                                    <a href='https://web.whatsapp.com/send?phone={{ object.user_phone|slice:"1:" }}&text=Кутман күн Урматтуу {{ object.user_fullname }}! Сиз "Бай Эл.kg" программасына ийгиликтүү катталышыңыз менен куттуктайбыз! %0aСиздин логиниз: {{ object.username }} Сыр сөз (пароль): bayel123 колдонуп http://bayel.kg/users/login/ сайтына кириңиз. %0aДайыма кабардар болуш үчүн шилтемени колдонуп https://t.me/joinchat/PFuMAxnmBCAjmsxeT7AEXA Телеграм группага кошулуңуз. Ишиңизге ийгилик! %0aПрограмманын администрациясы.'
                                       target="_blank"
                                       class="btn btn-outline-success"
                                    >Саламдашуу</a>
                                    <a href='https://web.whatsapp.com/send?phone={{ object.user_phone|slice:"1:" }}&text=Добрый день Уважаемый {{ object.user_fullname }}! Поздравляем с успешной регистрацией в программе "Бай Эл.kg"! %0aПерейдите по адресу http://bayel.kg/users/login/ используя Ваш логин: {{ object.username }} пароль: bayel123 %0aПрисоединяйтесь к группе Telegram по ссылке https://t.me/joinchat/PFuMAxnmBCAjmsxeT7AEXA, чтобы быть в курсе событий. Удачи в работе! %0aАдминистрация программы.'
                                       target="_blank"
                                       class="btn btn-outline-success"
                                    >Приветствие</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Features ends -->

    <script>
        let u_s_s = document.getElementById('id_user_second_status');
        u_s_s.setAttribute('enabled', '');
    </script>

{% endblock %}